[2015-05-18 21:13] TheBoegl opened #1 "Splashscreen config option"
It would be nice to be able to provide a splashscreen image the same way as it
is possible in raw launch4j config:

    <splash>
        <file>file</file>
        <waitForWindow>true|false</waitForWindow>
        <timeout>seconds [60]</timeout>
        <timeoutErr>true|false</timeoutErr>
    </splash>

Original issue reported on [code.google.com](https://code.google.com/p/gradle-launch4j/issues/de

[2015-05-18 21:15] #1 closed

[2015-06-10 20:54] TheBoegl opened #2 "Remove dependency for JavaPlugin"
Comment by David.42...@gmail.com (@david-hall)

Add missing Issue from google code.

[2015-06-11 17:42] david-hall commented on #2
Thanks for making this change as well as the others I had requested. Thanks for publishing it on the public gradle plugins maven repo too. I have already incorporated version 1.1.0 into my project so I am now able to control the additional parameters through the plugin. This fix will be a big help by allowing me to remove the java plugin which is not otherwise needed in my sub project. Please let

[2015-06-11 22:00] TheBoegl commented on #2
You're welcome.
The new version is up and running.

[2015-06-11 23:08] david-hall commented on #2
I just tried version 1.1.1 and it looks like there's still some dependency not working. The only thing I changed from the working version of build.gradle is that the version of the launch4j plugin is changed to 1.1.1 instead of 1.1.0. Here's the error I got simply trying to run 'gradle tasks':

    An exception occurred applying plugin request [id: 'edu.sc.seis.launch4j', version: '1.1.1']

[2015-06-12 06:04] TheBoegl commented on #2
Oh, I've missed that, because my test subproject actually included the JavaPlugin through its parent...
The new version is in the plugins repo.

[2015-06-12 18:12] david-hall commented on #2
Version 1.1.2 seems to be working correctly. According to the "gradle dependencies" command my subproject is now fully independent of the java plugin. Thanks again for making this change.

[2015-06-12 18:38] #2 closed

[2015-07-07 08:30] sschuberth opened #3 "Automatically install launch4j"
It would be great if the plugin could automatically download and install (relative to the working tree) a given version of launch4j for use with the plugin.

[2015-07-07 22:38] TheBoegl commented on #3
I'm looking into this.

[2015-07-16 17:24] byronpdx opened #4 "Fails under new plugin architecture"
I get an error of "`Error:(24, 0) Could not find property 'targetCompatibility' on root project ...`" when i use the new plugin architecture with launch4j.

My file looks like
[code]

But it does work when I change it to
[code]

This is not a big issue and I am not sure where the problem is, launch4j plugin, or in the new architecture.

Thanks

[2015-07-24 22:17] #4 closed

[2015-07-24 22:25] TheBoegl commented on #4
The reason for this seems to be, that the plugins feature does not set the targetCompatibility property for the java plugin explicitly.

[2015-07-25 23:15] freystef opened #5 "Targeted java version?"
Hi,
I tried your launch4j gradle plugin, however the error message "Unsupported major.minor version 52.0" appears, that suggests that the plugin is compiled for Java 8. My machine is still on 7.
If it is the case, any specific reason for targeting 8?
Thanks,
Stefan Frey

[2015-07-27 20:24] #5 closed

[2015-07-27 20:24] TheBoegl commented on #5
Actually this was not intended, though there are no public updates for JRE7 since April.

[2015-07-30 14:54] simonharrer opened #6 "Launch4j and FatJar"
We build a fat jar using the fatJar gradle plugin. We would like to convert this jar into a single exe file with your plugin. How can I deactivate the copyL4jLib task? Because this is not required for my task - I am only interested in copying a single jar file over.

[2015-07-30 17:44] byronpdx commented on #6
I would like that as well. I use a different structure where the libraries are dynamically loaded at runtime to allow for added functionality and to allow the same library files to be used for a variety of applications. I also do not need to have the libraries gathered and I would also like to be able to have the main class jar file at the same level as the executable rather than with the librarie

[2015-07-30 23:14] TheBoegl commented on #6
@simonharrer If you like to skip the copyL4jLib task, have you tried the ***gradle way*** and copy your jar by hand?

    copyL4jLib.enabled = false
    createExe.doFirst {
        // copy your configuration here to the launch4j folder
    }

I'm not certain if this workaround is meaningful or should be implemented in the plugin, tough I'd tend to the former...

@byronpdx If you use different conf

[2015-07-31 08:40] simonharrer commented on #6
@TheBoegl thank you for your fast reply. We are currently executing the copyL4jLib task, but ignoring its output and configuring the launch4j task so that it links directly to the fatJar. It is similar to your proposed workaround - but I keep the enabled flag in mind (again what learned ;-).

How difficult would it be to make the *from* part of the copyL4jLib configurable? So that I can override t

[2015-07-31 14:44] aaiezza opened #7 "Multiple Executables"
Love the plugin @TheBoegl! Seriously good work.

I did want to inquire about being able to create more than one executable. I know that gradle tasks cannot be run more than once, but my goal is to create tasks that essentially alter the launch4j settings and then run createExe. Of course it wouldn't be able to work like that.

Is there a way to do what I'm asking now and I'm ignorant to gradle's a

[2015-08-03 21:03] TheBoegl commented on #7
Currently there is no method - I know of - to accomplish this.
I really like to see this feature happen, but I don't know how and when...

[2015-08-03 21:15] TheBoegl commented on #6
I'll look into a more configurable solution for the copyL4jLib task.

[2015-08-04 02:16] TheBoegl commented on #3
@sschuberth The current implementation attempt will by default download launch4j as plugin specific dependency to `project.buildDir/configuration.outputDir/bin` which usually corresponds to `build/launch4j/bin. Afterwards it will extract the auxiliary binaries for the current operating system and execute the launch4j.jar.
The missing documentation and integration into the master branch will follow

[2015-08-04 07:01] sschuberth commented on #3
Sounds good to me, thanks for working on this! My main desire was to get rid of the need to manually download an install the launch4j dependency. WRT the internal implementation I'm mostly fine with anything that does the job :-)

[2015-08-04 20:19] Thunderforge opened #8 "Use the x86 version of Launch4j for Mac OS X"
The main page of this project has a big warning about how Launch4j is written for PPC, which no longer works since OS 10.7 (Lion). In fact, Launch4j does have a version of x86 processors on OS X that is compatible with OS 10.7 and later. This can clearly be seen on the download page of [Launch4j 3.8](http://sourceforge.net/projects/launch4j/files/launch4j-3/3.8/), the latest version as of this wri

[2015-08-04 23:28] TheBoegl commented on #8
Thanks for that hint. I'll remove this section from the instructions.

[2015-08-05 21:00] #8 closed

[2015-08-09 17:11] TheBoegl commented on #3
Could someone test if this works for OS X (version 10.8+)?

[2015-08-10 12:05] sschuberth commented on #3
I've given version 1.2.0 a try on Mac OS X 10.10.4. When executing the `createExe` task the first time I get the message `launch4j: Application jar doesn't exist` and no `*.exe` file is being created. However, running the `createExe` task a second time yields in all tasks being "UP-TO-DATE", but still no `*.exe` file.

[2015-08-10 12:27] sschuberth commented on #3
I just checked, that does not work on Windows for me either. Am I doing something stupid?

[2015-08-10 12:56] sschuberth commented on #3
On the way to debug the cause of this I created https://github.com/TheBoegl/gradle-launch4j/pull/9, but that does not fully fix it either.

[2015-08-10 13:16] sschuberth commented on #3
OK, second part of the problem indeed was that I did something stupid: I had the `launch4j {}` configuration block before the `application` plugin (which depends on the `java` plugin) was applied. With that fixed and my PR #9 merged it works on Windows.

On Mac, however, `createExe` now fails as it tries to start `windres`, which of course fails.

[2015-08-10 14:44] sschuberth commented on #3
The latter issue is now fixed by PR #10.

[2015-08-12 10:31] TheBoegl commented on #3
Thanks for the catch and your provided fixes!

[2015-08-12 21:25] TheBoegl opened #11 "incorrect 'UP-TO-DATE' tasks"
The inputs and outputs of the tasks are wrong which results in 'up-to-date' task which, in reality, are not.

[2015-08-13 22:13] TheBoegl commented on #11
Has someone a better idea than e9653f4a?

[2015-08-15 00:50] TheBoegl commented on #6
@simonharrer Will this suite your needs?

[2015-08-15 09:04] simonharrer commented on #6
Awesome! This fits my use case perfectly.

[2015-08-15 17:01] byronpdx commented on #6
Thanks for combining two great utilities. I have got this to work for me and it is great. Still on the learning curve for gradle so don't always know all the ins and outs.

[2015-08-18 13:51] freystef commented on #5
Thanks a lot! I am still on OpenJDK on my OpenSuse box.

[2015-08-23 20:36] #6 closed

[2015-08-23 22:07] TheBoegl opened #15 "No repository"
If this plugin is loaded with the new plugin mechanism like
[code]
the launch4j artifacts can not be retrieved, because no repository is configured yet.

[2015-08-23 22:20] #15 closed

[2015-08-24 23:03] byronpdx commented on #11
I noticed that the copyL4jLib comes back with UP-TO-DATE but doesn't generate any libraries. For the application I am working on I would like it to copy the libraries to the correct location. It could be because I have dome something wrong in the configuration, but would love to know how to make it work. On another project it seems to work fine.

[2015-08-25 05:26] TheBoegl commented on #11
Could you please post/link your build script, which shows at least the launch4j configuration, version, changed dependencies and your custom copy task?

[2015-08-26 23:12] TheBoegl commented on #11
@byronpdx Just to double check: The copyL4jLib task is not supposed to generate the libraries for you. All it does is fetching and copying the created jar(s) by the jar task and it's dependencies into the launch4j/lib folder. Did you apply the JavaPlugin?

[2015-08-29 00:21] byronpdx commented on #11
Yes, I applied the JavaPlugin. Not sure what is supposed to happen with the copyL4jLib task but I am not getting any launch4j/lib folder created nor anything copied into it. Here is my build file
[code]
When I run launch4j my output looks like:
[code]
What I get created is a folder `launch4j` with a `bin` folder inside, `launch4j.xml` and `Launcher.exe`.

To make this something that can be distrib

[2015-08-30 11:08] TheBoegl commented on #11
First of all: You don't have to initialize the default launch4j properties with their default values.

There seem to be an error on the dependencies if you load this plugin with the plugin-loading mechanism. Could you please try to use the *apply* mechanism to load this plugin and try again if the jar and runtime configuration is loaded correctly and copied to the lib folder?

I'll check that issu

[2015-09-03 11:44] petrukhnov opened #16 "documentation: not clear how include dependencies in .exe file"

[2015-09-21 21:56] TheBoegl commented on #16
@petrukhnov Could you please elaborate on your issue description.

[2015-09-21 22:28] TheBoegl commented on #11
If you apply this plugin instead of the new plugins mechanism it works correctly.
I'll look into this...

[2015-09-24 05:06] petrukhnov commented on #16
E.g. I want to include all libs into .exe, so it will result in single file. Now it creates exe file and folder with libs.

Anyway I ended up with next config:
[code]

[2015-09-24 18:33] TheBoegl commented on #16
Launch4j were not designed for that purpose. Though you could use a fat-jar mechanism containing your libraries. An example configuration is given in #6.

[2015-09-24 18:33] #16 closed

[2015-11-01 19:23] Georgeto commented on #11
Any updates?

[2015-11-02 17:56] TheBoegl commented on #11
A possible fix is already in the develop branch, though I haven't had time for further testing and linking it to this thread.

[2015-11-09 21:22] TheBoegl commented on #11
96c30231a8b2866c6ab99667ffd9c0721dfafaf9, acee7fa1ade5fd8d9dbfd1c02e15c2cef49199c8 and 9782a7ed6e88943e2ac443d6a1d9f9f1ab7ce9f0 should fix this issue.

[2015-11-09 21:22] #11 closed

[2015-11-10 11:20] thibautd commented on #11
If the fix is available in 1.5.3, I still have the dependency issue when using the plugin loading mechanism instead of 'apply'.

[2015-11-10 12:36] thibautd opened #20 "Dependency issue with 1.5.3"
Hello,

I have the following gradle script. I generate an exe containing the resul of a fat jar (using the shadow gradle plugin). **This work correctly with 1.5.1**, but with 1.5.3 I have the following error:

``Error:(37, 0) Could not find property 'copyL4jLib' on root project``

My gradle file :

[code]

[2015-11-10 22:19] TheBoegl commented on #20
I'll make the task available while evaluating the project. Meanwhile comment out `copyL4jLib.dependsOn shadowJar` and try it again.

[2015-11-10 22:39] TheBoegl commented on #11
@thibautd Please specify which dependency issue you have.

[2015-11-10 22:45] TheBoegl commented on #3
I missed to close this issue, though PR #10 fixed the latter issues. Please let me know if there are any issues left.

[2015-11-10 22:45] #3 closed

[2015-11-10 23:20] #20 closed

[2015-11-19 18:35] rpomeroy opened #21 "NoClassDefFoundError: com/thoughtworks/xstream/io/HierarchicalStreamDriver"
In attempting to create an executable for my spring-boot app I get the following:

 FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':createExeWithJar'.

Exception in thread "main" java.lang.NoClassDefFoundError: com/thoughtworks/xstream/io/HierarchicalStreamDriver
  	at net.sf.launch4j.Main.main(Main.java:61)
  Caused by: java.lang.ClassNotFoundException: co

[2015-11-20 09:48] TheBoegl commented on #21
On which OS are you building?

[2015-11-20 10:17] TheBoegl commented on #21
BTW: please check if the same error occurs in version 2.5.5.

[2015-11-21 11:58] rpomeroy commented on #21
Windows 7, Latest JDK. On vacation and away from my work laptop until the 30th. Can test when I get back.

[2015-11-21 22:05] TheBoegl commented on #21
If you are on Win7 20aa6be and therefore version 1.5.5 won't help. I'll dick into this within the next week.
I've tagged the git version with the wrong number and I'm going to fix this.

[2015-11-25 01:22] TheBoegl commented on #21
Your config (with spring=boot) results in the wrong xstream version 1.4.2 residing in `build/launch4j/bin/lib`. Ether I'll find the source for this or I'm going to call launch4j's main class directly and provide the classpath...

[2015-11-25 19:42] #21 closed

[2015-12-09 15:51] enzanki-ars opened #23 "MissingMethodException: No signature of method: Launch4jPluginExtension.onSetCopyConfigurable()"
[code]

[2015-12-09 15:52] enzanki-ars commented on #23
Issue occurring on all builds: see https://circleci.com/gh/enzanki-ars/BotBattle/39 and https://github.com/enzanki-ars/BotBattle/blob/launch4j-test/build.gradle

[2015-12-09 23:48] TheBoegl commented on #23
I've just cloned your repo but can't verify or reproduce your error. Could you please give more details about your build environment or - more appreciated - steps how to reproduce this.

[2015-12-10 00:04] enzanki-ars commented on #23
Noticed the problem. My build script was using an old version of Gradle. It might be helpful to note somewhere the Gradle compatibility, though this was my fault as I intended to use 2.9.

[2015-12-10 00:04] #23 closed

[2015-12-10 00:20] TheBoegl commented on #23
Just out of interest: Which gradle version did you use?

[2015-12-10 00:42] enzanki-ars commented on #23
CircleCI was using 1.10. That explains everything. Will do some tests later, but Gradle most likely needs to 2.4+

[2015-12-22 23:24] Jazzepi opened #24 "Exposed tasks are replaced"
This Gradle plugin deletes and then reinstates several tasks.

http://stackoverflow.com/questions/34407151/gradle-task-does-not-execute-its-dependency/

This breaks a user modifying the available tasks during the normal configuration phase. I was able to get around it by using the afterEvaluate hook, but I think this is undesired behavior. The user shouldn't have to do strange things to successful

[2016-01-17 22:04] aweigold commented on #24
@TheBoegl I have some ideas on how to fix this, as well as how to fix https://github.com/TheBoegl/gradle-launch4j/issues/7 after changing this.  Before I put in the work, are you taking contributions?

[2016-01-17 23:19] TheBoegl commented on #24
@aweigold Of course I'll accept contributions.

[2016-01-18 05:29] aweigold commented on #24
@TheBoegl Sounds great... I've worked around these two issues on my current project... I'll put together pull request(s) in the next month.

[2016-02-03 18:57] mhemmer opened #25 "EXE will not start the JVM"
The exe will not start the jvm.

Using process monitor, the last error the process shows before exiting is this:

HKLM\SOFTWARE\Microsoft\Windows NT\CurrentVersion\GRE_Initialize\DisableMetaFiles
This conversation is being saved. You'll see it soon in your Outlook Inbox folder.

it tries to open this key in the registry, and it isn't found

[2016-02-03 19:33] mhemmer commented on #25
here is a csv of the process monitor

[Logfile.txt](https://github.com/TheBoegl/gradle-launch4j/files/116263/Logfile.txt)

[2016-02-03 20:07] aweigold commented on #25
This is not an issue with this Gradle plugin, but likely an issue with your launch4j configuration.  I would recommend to find help on a launch4j forum or StackOverflow.

It may be helpful to run your executable with the "--l4j-debug" argument, as that will output some useful launch4j information for you.

[2016-02-03 20:13] mhemmer commented on #25
It turns out that putting a mainClassName in there adds all the classpath with /lib on them.  It looks outside the .exe for a /lib directory of jars.   That should not happen.    I removed mainClassName and it all works now, because my oneJar specifies the mainClassName.

[2016-02-03 20:13] #25 closed

[2016-04-01 13:57] javydreamercsw opened #28 "Doesn't seem to work"
I guess it's due to the lack of experience, but the task has no output to help debugging either. Here's the script I'm using. hope it helps somehow to find my issue.

I don't see the exe file being created. Just this output:

[2016-04-01 17:54] TheBoegl commented on #28
@javydreamercsw You seem to be barking up the wrong tree.
Change your configuration as follows:
_build.gradle_:
[code]

Then just call the launch4j task `createExe`.

[2016-04-01 21:31] javydreamercsw commented on #28
Still don't understand what's the difference between yours and mine. Have no clue what you mean by:

[2016-04-01 21:45] javydreamercsw commented on #28
Made some progress, now I'm getting this error:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':createExeWithJar'.

  	launch4j: Specify runtime path of the jar relative to the executable.

Was unable to find anything in the documentation.

[2016-04-03 07:47] TheBoegl commented on #28
This error is due to the following line `jar = "${projectDir}/pcgen.jar"`. Usually when you distribute your application, you like to place the jar relative to the executable. Hence, Launch4j enforces this, because your `"${projectDir}"` folder may no even exist on a 'target pc' for your application. Try removing the `jar` definition - the line above - and check if that works. This plugin then uses

[2016-04-03 14:10] TheBoegl commented on #24
@aweigold Did you have time for the PRs you talked about?

[2016-04-04 01:45] aweigold commented on #24
@TheBoegl I haven't yet... a few other projects came up... but I was thinking about this the other day, I'll put it on my short list of things to do soon.  If you have other designs/direction in mind, don't wait on me.

[2016-04-04 16:47] javydreamercsw commented on #28
Now I got this error:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':createExeWithJar'.

  	launch4j: Original filename exceeds the maximum length of 50 characters.

This is the path in this variable created by the tool:

<originalFilename>/media/javier/5CEC724EEC722306/Netbeans/pcgen/code/pcgen.exe</originalFilename>

I'll move my project out of my exter

[2016-04-04 18:31] javydreamercsw commented on #28
It did work in creating the exe, but I need it tu use the specified JRE.

With the launch4j app I can use a property like this:

<jar>pcgen.jar</jar>

But with the plugin it gives me error:

* What went wrong:
Execution failed for task ':createExeWithJar'.

  	launch4j: Compiling resources
  launch4j: Linking
  launch4j: Successfully created /home/javier/Desktop/pcgen/code/pcgen.exe

Even using th

[2016-04-04 23:00] TheBoegl commented on #28
Replace your last commit javydreamercsw/pcgen@a66ac26090d58a6db977850574c124b71bab9e04
[code]
with
[code]
Then just call `./gradlew createExe` and copy the created _pcgen.exe_ and _lib_ folder to your destination folder. Though this can be automated, try it this way first...

[2016-04-05 15:22] javydreamercsw commented on #28
Looks like that did the trick!

[2016-04-05 15:23] javydreamercsw commented on #28
Still feels like your plugin goes thru the work of copying dependencies, etc when it's configured not to wrap the jar.

[2016-04-05 16:42] TheBoegl commented on #28
__It has to!__ Wrapping the jar -- in the launch4j sense -- means to include it into the executable. Nonetheless the dependencies of that jar, wrapped or not, should be available while executing the exe. Hence, they are located next to the executable in a default location named _lib_.

[2016-04-05 17:15] javydreamercsw commented on #28
I see. Looks like I need to tweak my files more. Looks like they did this
folder manually. Thanks!

[2016-04-05 19:58] #28 closed

[2016-05-23 20:18] javydreamercsw opened #29 "cleanCreateExe doesn't clean the UP-TO-DATE state"
I'm trying to make sure the createExe is executed always so I'm trying something like this:

[code]

It seems to do as expected, but still gives UP-TO-DATE result:

[code]

Something seems off.

[2016-05-23 20:52] javydreamercsw commented on #29
Looks like the task doesn't define it's output files so it's unable to clean them. But if this was the case it should execute every time and not skip.

[2016-06-05 10:25] TheBoegl commented on #29
Though I don't understand why you'd like to create the exe every time, I'll gonna take a look into within the next few weeks.

[2016-06-05 15:27] javydreamercsw commented on #29
Remove clutter. Is another build artifact like compiled code and jars that
shouldn't be captured in version control.

[2016-07-24 20:59] EmilyBjoerk opened #30 "Please update to Launch4J 3.9.0"
3.8 contains a bug that when the minimum JRE update version is set and the installed JRE version is > 100, will cause erroneously to report that the minimum version is not met.

I.e. a min version set to 1.8.0_77  and actual JRE version of 1.8.0_101 will fail the minimum version check.

This bug is resolved in 3.9.0.

I reference the original bug report that I made to L4J tracker: https://sourcefo

[2016-07-24 22:41] TheBoegl commented on #30
I'm going to fix this tomorrow.

Am 24.07.2016 um 22:59 schrieb Emily Björk:

[2016-07-25 06:31] #30 closed

[2016-07-25 06:35] TheBoegl commented on #30
If an exception is thrown stating that _trademarks is not a field in VersionInfo_, try running `gradlew cleanLaunch4j`

[2016-07-27 06:44] TheBoegl commented on #7
If you have not found a way around this: create the multiple executables with the help of multiple gradle runs passing to each a different [argument ](https://docs.gradle.org/current/userguide/build_environment.html#sec:gradle_properties_and_system_properties)like `-Plaunch4j=firstChoice` and configure launch4j different for each 'parameter'. Afterwards you can just script a batch file or configur

[2016-08-14 19:54] Leejjon opened #31 "launch4j: Icon doesn't exist"
Hey, I'm trying to use your plugin and keep getting an Icon doesn't exist exception.

        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.executeActions(ExecuteActionsTaskExecuter.java:69)
        at org.gradle.api.internal.tasks.execution.ExecuteActionsTaskExecuter.execute(ExecuteActionsTaskExecuter.java:46)
        at org.gradle.api.internal.tasks.execution.PostExecutio

[2016-08-16 21:43] TheBoegl commented on #31
just replace your your icon definition with `icon = "${projectDir}/src/resources/icon.ico"`

[2016-08-16 21:43] #31 closed

[2016-10-13 17:41] ravermeister commented on #7
would like to see that feature too :)

[2016-10-13 19:56] TheBoegl commented on #7
@ravermeister have you tried my workaround from above?

[2016-10-29 12:45] ravermeister commented on #7
To be honest, I stopped working on the actual gradle script cause it is already more than twice as big (and complex) as my ant script :)

I have a Software with java and an Platform dependent part, so I build Versions for Linux/Windows for 32/64bit.  and for windows the executables too. in my Gradle Script I managed to create all of them within a Single build Task. I want to start from scratch and

[2016-10-30 09:20] radistao opened #32 "Is it possible to use gradle-launch4j with XML configuration"
I have my legacy project which builds exe using command line in Windows like [here described in the docs](http://launch4j.sourceforge.net/docs.html):
`launch4jc buldConf/launch4j-config.xml`

Now i'd like to use gradle-launch4j plugin instead. Could i reuse existent XML settings file, instead of setting all those properties manually?

As i understood, _xmlFileName_ is just an output name for `gene

[2016-10-30 19:50] TheBoegl commented on #32
@radistao If you do not want the launch4j plugin to configure your launch4j configuration you could just create a gradle task to run the launch4jc command from above.

[2016-10-30 20:00] radistao commented on #32
but how to run launch4jc from the plugin? or you mean start system installed launch4jc using exec gradle task?

[2016-10-30 20:11] TheBoegl commented on #32
The plugin is not designed that way because a user usually wants to use some other parts of the gradle script within the launch4j plugin, e.g. the version. If you do not want to change the configuration what would you use the launch4j plugin for?
You could try to move your configuration file in `doFirst()` to a backup and move them back in `doLast()` but it could be, that this won't work. I think

[2016-11-06 12:35] Nicklas2751 commented on #7
I need this feature too. The workaround is no option for me cause i need various exes which will be included in a zip.

[2016-11-18 08:21] alexanderfloh opened #33 "Expose launch4j-generated outputs in `launch4j` task"
I want to create a task that will copy the launch4j-generated outputs into a specific directory, e.g.

[code]

I've noticed that in [Launch4JPlugin](https://github.com/TheBoegl/gradle-launch4j/blob/develop/src/main/groovy/edu/sc/seis/launch4j/Launch4jPlugin.groovy#L80) you already connect the inputs and outputs for some of the tasks, but it is not propagated from the internal tasks to the user vis

[2016-11-21 07:32] TheBoegl commented on #32
With the internal restructure we should be able to allow this use case, hence, I reopen this issue.

[2016-11-21 07:37] TheBoegl commented on #29
Isn't it an option to ignore the compiled files?

[2016-11-21 08:46] radistao commented on #32
hm, sounds sweet. do you need some help (not sure so far i can do something, but at least can try :) )

[2016-11-21 20:22] TheBoegl commented on #32
Thanks, but I hope to find time this week to finish the rework and testing.

[2016-11-22 18:29] wholladay commented on #7
I have the same use case as Nicklas2751. I need to create two exes with different launch4j settings and include them in a single zip file.

[2016-11-22 21:41] TheBoegl commented on #7
@wholladay The workaround should work for you. Or you can wait a few days and test the new release.

[2016-11-26 00:35] TheBoegl commented on #32
@radistao Please check if the branch [issue/32](/TheBoegl/gradle-launch4j/tree/issue/32) addresses your issue correctly. I find this to confusing, but maybe you could explain why you want to use it that way or what way you are after, after all...

[2016-11-26 15:44] TheBoegl commented on #7
@wholladay, @Nicklas2751 and all: Would the current develop branch suffice your needs?

[2016-11-27 16:28] radistao commented on #32
@TheBoegl
thanks a lot for your work, but i'm still also confused are we on the same page.

My question was about this:

i have JavaFx project. To build windows .exe file i make the next steps:
  1. Build fat jar using `shadow` gradle plugin.
  2. Install [launch4j](http://launch4j.sourceforge.net/) application in Windows.
  3. Create settings file [like this XML file](https://github.com/TheBoegl/

[2016-11-27 17:34] TheBoegl commented on #32
@radistao I think I understood you in the first place, though not why you want to do it that complicated. Now I do...
The plugin downloads launch4j on its own and calls it to generate the executable. Your task is to _translate_ the xml file you attached to the _launch4j_ configuration and call the _createExe_ task.
The Readme.md should help with the default values. If you need further help let me

[2016-11-29 22:39] TheBoegl commented on #33
Just for clarification: if you would create more executables with this plugin (see #7) would it be ok to retrieve them all as outputs.
At the moment if two executable are created under the same buildDir folder, the outputs would not differ.

[2016-11-30 06:26] alexanderfloh commented on #33
I think that should be fine since you could only pull the one you need with the `CopySpec`'s `include`-/ `exclude`-patterns I guess.

[2016-11-30 21:43] #29 closed

[2016-11-30 22:11] #7 closed

[2016-11-30 22:12] #24 closed

[2016-11-30 22:12] #33 closed

[2016-11-30 22:13] TheBoegl commented on #32
I'm closing this as a question. If you need further assistance let me know.

[2016-11-30 22:13] #32 closed

[2016-11-30 23:14] javydreamercsw opened #34 "Trying version 2.0.0: Failed to notify project evaluation listener"
I just updated the version from 1.6.2 to 2.0.0 and now I get this error:

[code]

[2016-11-30 23:22] radistao commented on #32
Sorry, Sebastian - still haven't have a time to test ((
I'll let you know as soon as i tested it.
Thanks for your concern.

[2016-12-01 07:55] TheBoegl commented on #34
I'll have a look in the evening. As a work-around could you try to use the latest gradle wrapper
`./gradlew wrapper --gradle-version=3.2.1`?

[2016-12-01 08:08] Nicklas2751 commented on #34
I have the same problem.

And with `./gradlew wrapper --gradle-version=3.2.1` i get this:
[code]

[2016-12-01 16:18] javydreamercsw commented on #34
From my stacktrace looks like a gradle version issue indeed.

[2016-12-01 22:04] #34 closed

[2016-12-02 20:27] TheBoegl opened #35 "use sync instead of copy"
If the jar that is produced in the jar task changes its name the current implementation will copy it into the lib folder and keep the old version there, too.

[2016-12-02 23:38] TheBoegl commented on #35
Are there any concerns with that implementation?

[2016-12-04 13:54] Nicklas2751 opened #36 "Can' define "launch4j" task like in the README"
I have the following configuration:
[code]

And if i run this i get:
`Could not set unknown property 'mainClassName' for object of type org.gradle.api.distribution.internal.DefaultDistribution.`

it works if i change it so the code from "launch4j" is in the tasks an run it works but i became an extra exe i not defined. And if i rename the "launch4j" task to "createExe" i get the same error as abov

[2016-12-04 13:56] Nicklas2751 commented on #36
OS informations:
[code]

[2016-12-04 14:02] Nicklas2751 commented on #36
Run with stacktrace:
[code]

[2016-12-04 19:41] alexanderfloh commented on #32
@TheBoegl I've encountered a similar issue as @radistao and tried the fix for this issue and it works as expected. Can you please merge it to the main branch and release it?

Thank you for putting so much effort in this!

[2016-12-04 21:24] TheBoegl commented on #32
@alexanderfloh could you provide a use case for managing the xml on your own and just call the external task? I'm not satisfied with the current implementation of the issue branch, because it fails to often if one of the 'dependencies' in the xml is not really met in the application.

[2016-12-04 23:02] TheBoegl commented on #36
@Nicklas2751 I've commented your code. This seems not an issue with this plugin but a wrong closing brace.
The _launch4j_ plugin configuration creates a default task `createExe` which in turn will create an executable as defined in the _launch4j_ plugin configuration. This is the way to create _just one_ executable, which in versions prior 2 was the default case. Should the docs be not clear on th

[2016-12-05 05:36] Nicklas2751 commented on #36
Thanks a lot this helped me.

[2016-12-05 05:36] #36 closed

[2016-12-05 06:33] alexanderfloh commented on #32
My scenario is that I have a very large project with multiple sub-modules. Some of those sub-modules should then be used for the classpath of the `.exe`.

Ideally, I'd like to be able to specify the classpath part of the launch4j configuration manually rather than having all sub-modules in the classpath (default case) or have them copied around a lot (specifying `copyConfigurable`).

In my case, m

[2016-12-05 06:43] alexanderfloh opened #37 "Allow manual control of classpath configuration"
I have a quite large project with multiple sub-modules where only some should end up as part of the application. For that I want to be able to control the classpath manually.

[2016-12-05 06:45] alexanderfloh opened #38 "Allow absolute path as output directory"
When specifying an absolute path, the project build directory is prepended, resulting in an invalid path.

[2016-12-05 19:16] TheBoegl commented on #32
Would you allow me to peek a look at that project?

[2016-12-05 19:40] alexanderfloh commented on #32
No sorry, it's closed source and not my decision to make.

I can probably give you more context if that would help. Is there anything specific you'd like to know?

[2016-12-06 06:51] TheBoegl commented on #38
If the plugin would allow an absolute output directory outside the `$buildDir` the 'clean' tasks will be messy/delete files you don't want to be deleted.

An option would be to keep the current setting and add add another task that syncs the output to your user defined folder.

[2016-12-06 07:01] TheBoegl commented on #37
I think this can be incorporated into the `copyConfigurable` with a change in [CreateXML](/TheBoegl/gradle-launch4j/blob/05cfb797d5ab8d64dc2bc446f973c7a3bfabffdc/src/main/groovy/edu/sc/seis/launch4j/CreateXML.groovy#L24)

[2016-12-06 08:15] alexanderfloh commented on #38
Right, I haven't considered that.

Thanks!

[2016-12-06 08:15] #38 closed

[2016-12-06 22:50] TheBoegl commented on #37
@alexanderfloh would the commit help?

[2016-12-11 11:36] #35 closed

[2016-12-11 11:36] #37 closed

[2016-12-23 18:54] anuj1708 opened #39 "Not able to bundle JRE : Most probably my mistake"
Hey. Can you please visit why jre is not bundling up in exe with this script
https://github.com/anuj1708/Sample-Launch4j-Gradle/blob/master/build.gradle#L20-L31

I have placed jre in root directory of gradle project.
Using the JRE as follows in extracted form. with folder renamed as 'jre'
http://download.oracle.com/otn-pub/java/jdk/8u111-b14/jre-8u111-windows-x64.tar.gz

[2016-12-24 09:43] anuj1708 commented on #39
Just realized that jre is to be packed by side of exe and not inside exe. Thanks

[2016-12-24 09:43] #39 closed

[2017-01-02 22:17] UnAfraid opened #40 "Custom slf4j logger within wrapped jar"
As title says

Whenever you build far jar and wrap the jar within the .exe custom loggers aren't discovered somehow
[code]
When running the jar:
[code]
When you do java -jar the.exe it fails to find it, but when you do java -jar the.jar it works.
Whenever you open the exe with 7z manager lets say all is there the files are there, both config file and the compiled custom logger appender

Here's ano

[2017-01-03 16:59] TheBoegl commented on #40
This seems to me like a problem from log4j2 with your created wrapped jar. If you call the executable with `java -Dorg.apache.logging.log4j.simplelog.StatusLogger.level=TRACE -classpath "pathToYourExecutable"` you see more details. Even if you set the `log4j.configurationFile` property programmatically or on the command line it does not help.
Seems like an log4j2 issue to me.

[2017-01-03 17:05] UnAfraid commented on #40
Its quite weird, how the jar works but the exe doesn't

[2017-01-04 02:06] TheBoegl commented on #40
You are not merging the `META-INF/org/apache/logging/log4j/core/config/plugins/Log4j2Plugins.dat` files, hence, the `GUILogger.class` is not found.

As a work around use the [gradle shadow plugin](/johnrengelman/shadow). This will result in an error like [this on on SO](http://stackoverflow.com/questions/25065580/log4j2-custom-plugins-annotation-processing-with-maven-assembly-plugin) which was fix

[2017-01-04 02:06] #40 closed

[2017-01-04 12:25] UnAfraid commented on #40
The gist worked, thanks!

[2017-01-06 13:05] Tosken1337 opened #41 "Classpath"
Hi,

i have a question.
How is it possible to set the classpath.
The jar has no classpath configured in the manifest by dafeult.
How does launch4j handle the dependend jars?

Thanks

[2017-01-06 16:04] TheBoegl commented on #41
If my memory serves me well the classpath is set in the executable. Check the log file after you run `path/to/executable --l4j-debug`.

[2017-01-12 06:33] DaveJarvis opened #42 "Simple, complete, working example"
It'd be nice to see the documentation updated with an example that would work against the latest version. For example:

**build.gradle**
[code]

[2017-01-12 10:35] Tosken1337 opened #43 "Directory of the icon file"
I have the problem that the createExe task cannot find the icon.ico file specified.

[code]

Commenting out the line works and it will create the exe under the folder ./build/release.
Placing the icon.ico in build or in the root doesn't work.

[2017-01-12 10:40] Tosken1337 commented on #43
Please delete question. Found out. My goofiness...

[2017-01-12 11:53] aaiezza opened #44 "Sample Scripts"
This might be more of a nice idea for a wiki page, but I would really like a nice community dumping ground for working gradle build scripts utilizing launch4j. I definitely have one to contribute that I used for my master's thesis, but I'm looking to expand my knowledge of gradle and especially the usage of this plugin.
Thanks,
Alex

[2017-01-13 13:07] TheBoegl commented on #42
@DaveJarvis I think a working simple example configuration is already in the README. IMHO your example is way to complicated and is not the recommended way, but feel free to create a PR or comment here.

[2017-01-13 13:14] TheBoegl commented on #44
If you like we can add examples as subprojects to the source code or link to your repository. Also that should help in #42 .

[2017-01-13 13:15] TheBoegl commented on #41
@Tosken1337 Do you need further help or can I close this question?

[2017-01-13 13:56] Tosken1337 commented on #41
Thank you very much. You can close this

[2017-01-13 17:02] DaveJarvis commented on #42
The example configuration in the README didn't work for me. I was getting errors about the icon -- not that it couldn't find it, but that the icon syntax was not allowed:

[code]

The `icon = 'logo.ico'` wouldn't work for me, but removing the line was okay. I don't have the error message off hand, but I can get it to you if necessary. Yes,  the example I gave above is a bit more complicated than i

[2017-01-13 17:02] #42 closed

[2017-01-13 17:41] #41 closed

[2017-01-14 12:38] TheBoegl commented on #43
This seems to be documented incorrectly.

[2017-01-15 16:00] #43 closed

[2017-01-15 18:09] TheBoegl commented on #42
@DaveJarvis see #43 for your issue with the icon.

[2017-01-15 19:58] DaveJarvis commented on #42
Issue #43 doesn't provide any information about the problem or how to resolve it -- it merely states that there was an issue, resolved by a new commit. Are there any unit tests to make sure the configuration options are being parsed correctly in various situations? I also noticed that other parameters failed to parse correctly.

In other words, why did this type of error get into the project and h

[2017-01-15 21:45] TheBoegl commented on #42
Feel free to read the commit message and take a look at the pushed files at 48f7f08 to find the unit test you've missed. Afterwards use the latest version (2.2) of this plugin and feel happy.

You should create new issues for incorrectly parsed parameters.

:confused: Submit a PR or an issue?

[2017-01-16 01:09] radistao opened #45 "missing configure property instanceAlreadyExistsMsg"
In the original launch4j settings there is a property _instanceAlreadyExistsMsg_:
http://launch4j.sourceforge.net/docs.html#Configuration_file
https://sourceforge.net/p/launch4j/git/ci/47561275484c639010f6da31564c2a4a247a0591/tree/src/net/sf/launch4j/form/messages.properties

it is missing in the current plugin implementation. Could it be added? Thanks.

[2017-01-16 01:53] radistao opened #46 "Why "opt" property is a string"
Most of the plugins with JVM wrapping (and not only JVM) use arguments as a list, but in this plugin it is just a string. Isn't it more conventional to make it as an array of strings?

[2017-01-16 07:01] alexanderfloh commented on #37
@TheBoegl, thanks for the enhancement, I finally got around to give it a try.

Unfortunately I'm still unable to build my application, so I'll try to give more context.
As mentioned before, the application consists of multiple modules, and the distribution should look like this (items marked with a `*` should go in the classpath):
[code]

Ideally, I'd like to be able to convince the launch4j plugi

[2017-01-16 21:37] TheBoegl commented on #46
Sure, though I don't know why it is a string in the first place.
I'll try to make this change backwards compatible.

[2017-01-16 22:14] radistao opened #47 "Should the "jar" task be skipped if "shadowJar" is used?"
I use the next config:

[code]

When i run `./gradlew winLauncherBuild` all the task are executed in proper order, except the _jar_ task is executed right before _createExe_ task and **overrides** _shadowJar_ results:

[code]

Apparently, _createExe_ depends on _jar_ and _shadowJar_ task, but how to avoid _jar_ execution if _shadowJar_ is expected?

Now i do the next crutch:
[code]

But this looks

[2017-01-16 22:25] radistao commented on #46
Thanks. What do you mean "the first place"? In launch4j xml config it is a multiple xml tag:
http://launch4j.sourceforge.net/docs.html

[2017-01-16 23:08] TheBoegl commented on #46
Yes, but it seems @crotwell implemented it like launch4j's RcBuilder uses it [internally](/mirror/launch4j/blob/master/src/net/sf/launch4j/RcBuilder.java#L272):
[code]
P.S.: I don't know how to link to this line in the [original repo](https://sourceforge.net/p/launch4j/git/ci/master/tree/src/net/sf/launch4j/RcBuilder.java).

[2017-01-16 23:17] #45 closed

[2017-01-16 23:17] #46 closed

[2017-01-16 23:19] TheBoegl commented on #46
@radistao should 2d9d39d not suffice, please reopen this issue. Feel free to comment or improve this commit anyway.
Furthermore, expect a release containing this commit this week :smile: .

[2017-01-16 23:20] radistao commented on #45
thanks a lot!

[2017-01-16 23:32] radistao commented on #46
ok, i'll update the plugin as soon as you make a release and let you know the results. thanks a lot!

[2017-01-17 14:26] alexanderfloh opened #48 "Reduce assumptions about project structure"
Hi, I've already added this as comment to #37 but I think it may have been lost.

Unfortunately I'm still unable to build my application, so I'll try to give more context.
As mentioned before, the application consists of multiple modules, and the distribution should look like this (items marked with a `*` should go in the classpath):
[code]
Ideally, I'd like to be able to convince the launch4j plu

[2017-01-17 22:50] TheBoegl commented on #48
Should the config within the moduleA go into the classpath or is that a typo?

[2017-01-18 06:25] alexanderfloh commented on #48
That is correct.
Some libraries like their config files in the classpath, I guess because it makes it easy to look it up.

[2017-01-18 12:03] TheBoegl commented on #48
Could you please create a test repo with the subprojects/modules and some of these libraries? That would really help here.

[2017-01-18 21:12] #47 closed

[2017-01-18 21:14] TheBoegl commented on #47
Good catch @radistao.

[2017-01-18 23:13] radistao commented on #47
got fix, @TheBoegl  ;)

[2017-01-19 11:20] gravelld opened #49 "Setting an empty classpath and an executable JAR file"
In my setup I need launch4j to simply execute a JAR file which has a Main-Class setting in the manifest.

How how would one specify an empty classpath - so only the JAR specified in the jar parameter would be used to form the classpath? At the moment, all the dependencies for the Gradle project are listed in `$build/launch4j/lib` so I think those are also being added to the classpath.

I have trie

[2017-01-19 22:53] TheBoegl commented on #49
@gravelld Are you sure that the resulting executable should locate your jar `com.elsten.bliss.bootstrap.jar` in its parent folders subfolder called lib?

In addition to that you should really take a look at the documentation and use the correct objects you assign to the properties.
I've fixed these issues:
[code]

This results in the _correct_ execution of the jar.

[2017-01-20 09:39] alexanderfloh commented on #48
I've created a simple project a https://github.com/alexanderfloh/launch4j-issue48 to show the basic structure. However, I ran into the problem that the files specified in `copyConfigurable` are copied to the lib folder, but apparently do not end up in `launch4j.xml`'s classpath (noticed that when the generation failed once and the config file was not deleted, as well as launching the .exe with `--

[2017-01-20 14:49] gravelld commented on #49
@TheBoegl Thanks for that. Yep, that's the location for the JAR. The parameters I have used above are from my original Ant build. I've been using Launch4j for many years.

    //mainClassName='com.elsten.bliss.bootstrap.Bootstrap' // you do not need this if you do not wrap the jar

I think I might have got mixed up; the Launch4j docs mark this as a required field: http://launch4j.sourceforge.net/d

[2017-01-20 14:51] gravelld commented on #49
So I'm wondering - is it something you want to support, classpath control, or should it just be down to the user to expect the project's dependencies be automatically chosen?

If that latter, this can be closed.

[2017-01-20 15:25] TheBoegl commented on #49
Do you refer to the classpath control like in #48? If not please collaborate on your user case otherwise you can close this.

[2017-01-20 15:55] gravelld commented on #49
I think so... basically I want a way of saying:

copyConfigurable=[]

And no classpath being generated, regardless of the dependencies of the containing project.

[2017-01-20 15:55] #49 closed

[2017-01-20 15:57] gravelld commented on #48
As per #49 I would like a way of specifying no classpath, so just the JAR file specified in the `jar` parameter is used to start the application. Something like:

[code]

[2017-01-20 19:35] gravelld commented on #49
Oh, btw, from the README.MD:

https://github.com/TheBoegl/gradle-launch4j/blob/develop/README.md#configuration

[2017-01-20 21:47] TheBoegl commented on #49
That is correct. In the special case of `dontWrapJar=true` it is up to the `jar` to be either runnable, i.e. having a `Main Class` defined in its manifest, or be called with `mainClassName`. Either option has a use case.

[2017-01-21 01:10] TheBoegl commented on #48
@gravelld `copyConfigurable=[]` should work now.

@alexanderfloh the commit ~~c31e050~~ f99e3c5 should allow the following configuration:
[code]
The resulting classpath section in the launch4j xml looks like:
[code]

[2017-01-23 06:13] alexanderfloh commented on #48
@TheBoegl works fine for the demo project, I'll also try if for my real app.

Can you please clarify what you meant by

Again, thanks for all the work you're putting into this!

[2017-01-23 08:12] TheBoegl commented on #48
You're welcome!

In the current implementation I've seen no other way how to configure the task inputs if a CopySpec is passed into the `copyConfigurable`. The `from` properties are retrieved correctly for the task inputs, but the `into` folder makes it difficult. I had to work around it, like I've done in the implementation, so a change of any `into` folder would trigger a new build.
If that is O

[2017-01-23 12:03] gravelld commented on #48
Thanks for your work @TheBoegl

[2017-01-24 08:02] alexanderfloh commented on #48
@TheBoegl I discovered another problem when trying it with my real world app:

I didn't realize that it makes a difference when adding directories to the classpath vs. adding files to the classpath.
I updated the demo project to incorporate the changes you've made, and now I'm getting
`<cp>lib\module-a\config\someConfigFile.xml</cp>` in the generated launch4j XML file, when I really want
`<cp>lib\

[2017-01-26 04:18] dmodoomsirius opened #50 "How would i specify a cert to sign the exe?"
I was wondering what option i would use to specify a cert to sign a exe? Would i still sign it as a jar then it would extend to the exe?

I would appreciate any help.

[2017-01-26 23:03] TheBoegl commented on #50
Have you tried to use sign4j?
I haven't found it on maven nor is it integrated in the current launch4j package.

[2017-01-26 23:25] TheBoegl commented on #48
IMHO I don't think that a CopySpec with a set `into` folder (relative file) should automatically go into the classpath because it might have difficult side effects though I might find a way around the current restriction.

Would it be OK for you to configure the classpath on your own _and_ provide the CopySpec? This way the convention over configuration approach would work for a typical use case a

[2017-01-27 04:52] dmodoomsirius commented on #50
I have not. I will be looking into it right now.

[2017-01-28 17:48] TheBoegl commented on #48
@alexanderfloh I've pushed the changes to OJO as version 2.4.0-SNAPSHOT. You can test this snapshot and give feedback afterwards.

[2017-01-28 21:04] TheBoegl commented on #50
Another software would be [jsign](/ebourg/jsign), which you could call with a few modifications from the build script.

[2017-02-15 13:01] laurre opened #51 "Error when specifying an absolute path for outputDir"
I am unable to set an absolute path for the outputDir property. I get the following message:

Should this property work with an absolute path ? Or should this be better documented in the README ? In both cases, I can contribute with a PR.

[2017-02-15 13:25] laurre commented on #51
Moreover, it is not clear to which folder this outputDir path is relative (it seems to be the 'build' folder).

[2017-02-15 14:35] chadj2 commented on #51
I think outFile is supposed to have the name of the exe with no path. The plugin will copy the resulting files and libraries to build/launch4j. You can use the distribution plugin to copy necessary files to an output location.
You can have a look an an example here: [launch4j.gradle](https://github.com/chadj2/task-driver/blob/master/dist/launch4j.gradle)

[2017-02-15 21:36] TheBoegl commented on #51
@laurre `outputDir` is relative to the project's `buildDir`. This way it is much easier to perform the clean up or internal tasks. As @chadj2 said, like build files from other plugins you can copy the result files afterwards where you want.
It would be helpful if you could contribute with PR.

[2017-02-21 15:19] lukeu commented on #42
Just to say +1 for the example supplied. It is just what I'm trying to get working too:
 * Launch4J, for Windows users (obviously)
 * Runnable .jar for Linux users
 * 'application' so casual / curious developers can jump in and run the latest code from source with an easy 1-liner

[2017-02-22 16:45] javydreamercsw opened #52 "IOException: Cannot run program "windres": error=2, No such file or directory"
I'm using version 2.3.0, but was failing on previous versions as well. I verified the file is there.

I'm running Ubuntu 16.04. The source can be obtained [here](https://github.com/javydreamercsw/pcgen/tree/ADMIN-44).

Here's the full stack trace:

`FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':createExe'.

  launch4j: Compiling resources
  launch4j: Gene

[2017-03-08 00:30] TheBoegl commented on #52
This seems to be an issue with windres and ld as described in this [launch4j issue](https://sourceforge.net/p/launch4j/feature-requests/74/).
The following [work-around](https://sourceforge.net/p/launch4j/feature-requests/74/#2051) from @bflorat works in xenial:
[code]

[2017-03-08 00:30] #50 closed

[2017-03-08 12:31] javydreamercsw commented on #52
That will be really hard to make portable it seems. I.e. setup in CI server.

[2017-03-12 21:00] erhan14 opened #54 "Plugin broken with gradle 3.4.1"
I upgraded my wrapper to gradle 3.4.1 from 3.1 and the project started to give the following error during project configuration phase.   id "edu.sc.seis.launch4j" version "2.3.0"

[code]

[2017-03-13 21:45] TheBoegl commented on #54
I can't reproduce your issue. Could you provide a short example or repo link which does not work for you.

[2017-03-13 23:16] TheBoegl commented on #52
@javydreamercsw in https://github.com/lukaszlenart/launch4j-maven-plugin/issues/4#issuecomment-27678499 could be another work around for you in the meantime until my PR gets merged and published.

[2017-03-14 00:31] javydreamercsw commented on #52
Thanks. I can wait.

[2017-03-14 13:41] erhan14 commented on #54
There is a root project and a sub project. I have the launch4j task in the sub project which is called before distTar
distTar.dependsOn "launch4j"
Attached is the sample project. Just cd into the "ECR_MANAGER\ECR_GMP3_SIMULATOR" folder and call ..\gradlew distTar to see the following error :

* Exception is:
java.lang.NoClassDefFoundError: org/gradle/api/plugins/JavaPlugin
        at edu.sc.seis.l

[2017-03-14 21:49] TheBoegl commented on #54
I'm unable to reproduce your issue with your sample project:
[code]

And from vagrant the same
[code]

[2017-03-16 19:49] hotmeatballsoup opened #55 "Launch4j and Shadow plugins potentially don't play nice with each other"
I have [the following project](https://github.com/hotmeatballsoup/gradle-launch4j-example) which uses this plugin as well as the [Shadow plugin](https://github.com/johnrengelman/).

The idea is simple:

1. Let the Shadow plugin produce a self-contained "fat" jar of all my classes and their transitive dependencies; then
2. Let this plugin wrap my shaded fat jar into an EXE

If you clone that projec

[2017-03-16 21:01] #55 closed

[2017-03-16 21:10] TheBoegl commented on #55
@hotmeatballsoup If you want to see the console output in this test example, just add `headerType='console'` to the launch4j configuration, rebuild with `./gradlew createAllExecutables` and test it.

[2017-03-16 23:39] hotmeatballsoup commented on #55
Thanks @TheBoegl but this is still not working for me. Check out my pushed changes which reflect your recommended changes. I changed my Gradle invocation to match your `./gradlew createAllExecutables --info` and this was the output:

[code]

Is there any configuration that I'm missing? Are you able to reproduce this at all? I'll note that I **don't** have a `launch4j.xml` file defined anywhere, as

[2017-03-16 23:51] TheBoegl commented on #55
You should have merged my PR...
Remove the jar property from the launch4j section, and do a clean run.

Just a tip: use .gitignore and don't commit generated temp files.

[2017-03-17 00:07] hotmeatballsoup commented on #55
Thanks again, that worked!

So this produces a `zimbus.exe` file, which is clearly a native windows executable. In the docs I'm not seeing anything for producing native Mac OS executables, are Macs supported? Thanks again!

[2017-03-17 00:37] TheBoegl commented on #55
You're welcome.

Launch4j only creates Windows binaries.

[2017-03-20 08:19] erhan14 commented on #54
Can you try with this?

[sampleProject.zip](https://github.com/TheBoegl/gradle-launch4j/files/854194/sampleProject.zip)

[2017-03-21 21:42] TheBoegl commented on #54
That works for me, too.

Could you "__reinstall__" your gradle 4.3.1 because the exception `java.lang.NoClassDefFoundError: org/gradle/api/plugins/JavaPlugin` should not happen on - I don't know, but like - any gradle version. So it could be just a faulty unzip or whatever...

[2017-04-27 11:52] javydreamercsw commented on #52
Any updates?

[2017-04-27 16:16] TheBoegl commented on #52
We are waiting on Grzegorz to publish a new release. See his [comment](https://sourceforge.net/p/launch4j/git/merge-requests/11/)

[2017-05-11 15:05] msuperdev opened #57 "xmlConfigName doesnot seem to work"
xmlConfigName does not work with either the launch4j plugin config or the External task. Is anyone trying to use the xml config and may be override some of the attributes with the plugin?

[2017-05-12 13:43] TheBoegl commented on #57
What exactly are you trying to do?

[2017-05-15 13:59] msuperdev commented on #57
I think I figured out what the issue is.

First and foremost, there has been a code change between the version I have (2.3.0) and the develop branch. Second, the xml config is always regenerated no matter what, this is a problem. Tell me if there is a way to tell not to re-create the xml. I could be wrong here

[2017-05-15 18:42] TheBoegl commented on #54
@erhan14 You haven't commented here for a while. How have you worked around your issue?

[2017-05-15 20:37] TheBoegl commented on #57
I really like to help you but I need more information to do that:
1. What version of this plugin are you using?
1. Which code change are you referring to?
There are a few changes but the only likely one is fa632f8. That did not change the internal handling of the 'per task xml file', but it is not responsible for not using your xml file.
1. Could you post a simplified example of your current proje

[2017-05-15 20:43] TheBoegl commented on #57
After rereading your issue again (and again): Do you want to _patch_ an existing launch4j xml file?
Neither it is possible with this implementation nor I'm planning to implement it.

[2017-05-15 23:57] msuperdev commented on #57
I was trying to use a launch4j.xml with no classpath values. But everytime I ended up with libs in the build directory. With the debug parameter -Pl4j-debug, I could tell that the xml is generated everytime, even if the only property is xmlFileName. I will try to post a real example since you ask..

[2017-05-16 13:28] msuperdev commented on #57
apply plugin: 'java'
apply plugin: 'edu.sc.seis.launch4j'

buildscript {
  repositories {
	jcenter()
  }
  dependencies {
	classpath 'edu.sc.seis.gradle:launch4j:2.3.0'
  }
}

repositories {
    jcenter()
}

dependencies {
    compile 'com.google.guava:guava:20.0'
    testCompile 'junit:junit:4.12'
}

launch4j {
  xmlFileName = "launch4j.xml"
}

---XML----
  <classPath>
    <mainClass>com.pkg.app.

[2017-05-16 14:36] TheBoegl commented on #57
This plugin uses the gradle style _convention over configuration_, hence, it configures many things for you. Take a look at [the documentation](https://github.com/TheBoegl/gradle-launch4j#how-to-configure) for the default values.

I don't get why you want to use the _almost empty_ but incorrect xml file, when this plugin already "wires" it's content correctly.

[2017-05-17 05:16] msuperdev commented on #57
I am trying to generate the exe with a custom classpath (dependent jars exploded in various locations at runtime), and so do not want the plugin to modify this. The classpath also could not be configured in 2.3.0 through plugin configuration.

[2017-05-17 20:00] TheBoegl commented on #57
The documentation I linked to is for the current snapshot version `2.4.0-1-SNAPSHOT`. The **classpath** property was added after `2.3.0`. Please try to use the snapshot version.

I could help you better if you give me more insight into your code base.

[2017-05-18 15:00] msuperdev commented on #57
That's all the information I have. Just try to run createExe with no <cp> in classpath (no jars) for the xml. Just see what happens in build/launch4j/lib and tmp/createExe/launchj.xml

[2017-05-18 15:04] msuperdev commented on #57
By the way, would this be enough
`buildscript {
  repositories {
    **jcenter()**
  }
  dependencies {
    classpath 'gradle.plugin.edu.sc.seis.gradle:launch4j:**2.4.0-1-SNAPSHOT**'
  }
}`

[2017-05-19 20:53] erhan14 commented on #54
After removing gradle folder the issue seems to disappear. Thanks

[2017-05-19 20:53] #54 closed

[2017-05-23 06:36] TheBoegl commented on #57
Take a look at the (https://github.com/TheBoegl/gradle-launch4j#using-snapshot-versions)[documentation].

Running `createExe` on the following _build.gradle_ should result in your desired output, though IMHO your classpath is wrong:
[code]

[2017-05-23 06:39] TheBoegl commented on #57
@msuperdev please take a look on the supported markup [here](https://guides.github.com/features/mastering-markdown/). I've fixed your markdown issues to at least read your source code...

[2017-05-23 14:43] msuperdev commented on #57
Thanks for help. This can be closed now

[2017-05-23 14:43] #57 closed

[2017-06-07 05:56] Riggs333 commented on #52
launch4j 3.10 is out and the merge request is integrated.
Any plan when the Gradle plugin will be updated?

[2017-06-07 14:18] TheBoegl commented on #52
Launch4j 3.10 was removed due to AV false positives.
We are waiting for 3.11 to be released to maven.

[2017-07-07 13:27] cnrudd opened #58 "The dependencies.classpath in the example might not be correct."
Hi,

just fyi...

When I use from the [example](https://github.com/TheBoegl/gradle-launch4j#how-to-include):
`buildscript {
  repositories {
    jcenter()
  }
  dependencies {
    classpath 'gradle.plugin.edu.sc.seis.gradle:launch4j:2.3.0'
  }
}`

I get this error:

Searched in the following locations:
    https://jcenter.bintray.com/gradle/plugin/edu/sc/seis/gradle/launch4j/2.3.0/launch4j-2.3.0.p

[2017-07-07 15:28] ttsiebzehntt commented on #52
@TheBoegl Any Updates on this? 3.11 seams to be released since 2017-06-27 but not on mavencentral.

I came across this error on my CI Server:
"Could not find launch4j-workdir-linux64.jar (net.sf.launch4j:launch4j:3.9)"
Since there is no linux64 version in 3.9.

PS: I need the 2.4 SNAPSHOT to customize the classpath :(

Thanks

[2017-07-09 21:17] #58 closed

[2017-07-09 21:43] TheBoegl commented on #52
@ttsiebzehntt I asked Grzegorz in [launch4j/#171](https://sourceforge.net/p/launch4j/bugs/171/) to publish the artifacts for launch4j 3.11 to MavenCentral.
In the meantime you could use the unzipped [launch4j-3.9-workdir-linux64.zip](https://github.com/TheBoegl/gradle-launch4j/files/1134095/launch4j-3.9-workdir-linux64.zip).

[2017-07-10 07:55] ttsiebzehntt commented on #52
@TheBoegl Thanks, I tried it with your provided jar, the resolve works now but somehow the extracting doesn't seem to work. The folder 'tmp/launch4j' doesn't get created, therefor the workdir jar isn't extracted and I end up with the error: "build/tmp/launch4j/bin-launch4j-3.9/bin/windres No such file or directory"

The creation of the 'tmp/launch4j' dir and the extraction work in the plugin versi

[2017-07-16 14:04] TheBoegl commented on #52
@ttsiebzehntt, @javydreamercsw: I've created a new test snapshot `2.4.0-2-SNAPSHOT` which uses the latest launch4j version 3.11. Because this is still in the staging area, it would be great if you could test it on your setup and provide feedback.
Add the staging repo to your repositories setting in your gradle script and in the buildscript:
[code]

[2017-07-16 14:05] TheBoegl commented on #52
@ttsiebzehntt I think you tried to run `./gradlew clean createAllExecutables` which cleans the tmp files but does not recreate them... I'll take a look into this.

[2017-07-16 14:43] ttsiebzehntt commented on #52
@TheBoegl `clean` is the problem, yes. My CI builds are always run on clean environments so I cannot test the new SNAPSHOT on linux64.
But it's working fine on my Windows machine. Thanks for the effort.

[2017-07-16 16:38] javydreamercsw commented on #52
I'll try it during the week

On Jul 16, 2017 9:43 AM, "Martin Sadowski" <notifications@github.com> wrote:

[2017-07-17 21:49] TheBoegl commented on #52
@ttsiebzehntt version `2.4.0-3-SNAPSHOT` should now work in your CI build.

[2017-07-18 07:42] ttsiebzehntt commented on #52
@TheBoegl Thank you very much. The new SNAPSHOT works perfectly (extraction and exe creation) 👍

[2017-07-23 03:02] henriIV opened #59 "<var></var> properties"
Is there a magical way that I am not aware of to set the var properties ?

    <var>blablaa=1</var>

So far I was only able to do so by modifying the source code

[2017-07-24 18:52] TheBoegl commented on #59
It's not used anymore, is it?
Could you please hint where I could find the option in the latest launch4j 3.11 gui.

[2017-07-25 22:48] henriIV commented on #59
It is in the "Set env.variables" tab Just between the JRE Tab and Splas tab
For each line you enter
a=12
b=23
You will end up with a var properties in the xml
\<var\>a=12\</var\>
\<var\>b=23\</var\>

[2017-07-26 03:41] TheBoegl commented on #59
I missed that option... 😱 but will add it soon.

[2017-07-26 22:26] TheBoegl commented on #59
@henriIV Please check version `2.4.0` and close this issue or comment here afterwards.

[2017-07-26 22:34] TheBoegl commented on #52
@javydreamercsw This issue should should be fixed in version `2.4.0`. Could you please test it in your setup and provide feedback or close this issue?

[2017-07-27 02:11] henriIV commented on #59
The source code looks ok.  I will test it as soon as I resolve a little issue: I am unable to download some dependencies of your 2.4.0 version.  It seems that the batik jar is 404
404 - Path /org/apache/batik/com.springsource.org.apache.batik.ext.awt/1.7.0/com.springsource.org.apache.batik.ext.awt-1.7.0.jar not found in group repository "Public Releases Repositories (GA)" [id=public].  Any idea ho

[2017-07-27 20:10] javydreamercsw commented on #52
Will do and report back.

[2017-07-27 20:23] TheBoegl opened #60 "applying 2.4.0 with the plugins DSL fails"
Applying the plugin in version `2.4.0` with the plugins DSL
[code]
does not work.
This fails with the following error:
[code]

[2017-07-27 20:24] TheBoegl commented on #60
Applying the plugin does work...
[code]

[2017-07-27 20:30] javydreamercsw commented on #52
Got an error:

Just changed to version 2.4.0. Works fine with 2.3.0.

[2017-07-27 20:31] TheBoegl commented on #59
Lets track the 404 issue in #60; Take a look at the "work around" there...

[2017-07-27 20:33] TheBoegl commented on #52
I've opened #60 to track the issue, though I found a work around already.

[2017-07-27 22:18] #52 closed

[2017-07-27 22:25] javydreamercsw commented on #60
After your proposed change I get this error:

[2017-07-27 22:56] TheBoegl commented on #60
I found an interesting behavior: After deleting ~/.gradle/caches/modules-2/metadata-2.23 applying this plugin with the plugins DSL works again.

After that either way to apply this plugin works on your __Release_Bug_Fixes__ branch.
Can you confirm that?

[2017-07-27 23:35] javydreamercsw commented on #60
I'm away of my programing machine until tomorrow.

Do you mean just changing the version to 2.4.0, without any of your work arounds, works after cleaning the cache?

[2017-07-28 03:20] henriIV commented on #59
Works perfectly. Thanks

I was able to resolve the 404 issue in the following way
Instead of using the suggested buildscript on https://plugins.gradle.org/plugin/edu.sc.seis.launch4j
buildscript {
  repositories {
    maven {
      url "https://plugins.gradle.org/m2/"
    }
  }
  dependencies {
    classpath "gradle.plugin.edu.sc.seis.gradle:launch4j:2.4.0"
  }
}

I used
buildscript {
    reposito

[2017-07-28 03:20] #59 closed

[2017-07-28 03:22] henriIV commented on #60
I don't know if this could help.
I was able to resolve the 404 issue in the following way
Instead of using the suggested buildscript on https://plugins.gradle.org/plugin/edu.sc.seis.launch4j
buildscript {
  repositories {
    maven {
      url "https://plugins.gradle.org/m2/"
    }
  }
  dependencies {
    classpath "gradle.plugin.edu.sc.seis.gradle:launch4j:2.4.0"
  }
}

[2017-07-28 13:30] javydreamercsw commented on #60
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'pcgen'.

     Searched in the following locations:
         https://plugins.gradle.org/m2/org/apache/batik/com.springsource.org.apache.batik.ext.awt/1.7.0/com.springsource.org.apache.batik.ext.awt-1.7.0.jar

     Searched in the following locations:
         https://plugins.gradle.org/m2/org/a

[2017-07-28 17:30] TheBoegl commented on #60
These files/dependencies are on the exclusion list in launch4j's pom and should not be retrieved at all.
This seems to me like gradle's cache is not working as expected.

[2017-07-31 13:22] breuniga commented on #60
I did get the same error message, but did not use the plugin DSL. Cleaning the cache did not help. Then I recognised that I forgot to change
[code]
to
[code]
After correcting this, everything worked fine.

[2017-07-31 14:08] javydreamercsw commented on #60
That's not the issue on my case. I still believe there's something wrong.

I use gradle 4. maybe that's the difference?

[2017-07-31 23:41] TheBoegl commented on #60
@javydreamercsw In fa632f8014 I used some launch4j classes directly instead of starting a new jvm and calling `launch4jc`. Therefore the version _2.4.0_ has a compile dependency to `launch4j`. Its [pom
](http://central.maven.org/maven2/net/sf/launch4j/launch4j/3.11/launch4j-3.11.pom) clearly exclude the erroneous `com.springsource.org.apache.batik.ext.awt` artifact.

I'm able to reproduce this iss

[2017-08-01 01:34] javydreamercsw commented on #60
I'll give it a try tomorrow and report Back. I'll have to add notes about it I believe.

[2017-08-01 13:34] javydreamercsw commented on #60
Yup, it worked fine now. maybe it's worth adding to the documentation in readme or something.

[2017-08-03 17:58] TheBoegl commented on #60
This issue was produced by the plugin-publish plugin which does not handle the excludes correctly.
The work around is to set the module to `module: '*'` instead of leaving it out.

[2017-08-03 17:58] #60 closed

[2017-08-03 18:50] javydreamercsw commented on #60
So will this be a new version release, or will just re-publish under same version?

[2017-08-03 18:55] TheBoegl commented on #60
The important commit is published under version [2.4.1](https://github.com/TheBoegl/gradle-launch4j/releases/tag/v2.4.1).

[2017-08-04 13:56] javydreamercsw commented on #60
Confirmed, it works like a charm! Thanks!

[2017-11-15 23:55] SergeVil opened #63 "Windows reports virus"
Hello,

I have created the exe file using gradle.plugin.edu.sc.seis.gradle:launch4j:2.4.2, but Windows 10 does not enable to run it.

What am I missing?

Thank you,
Serge

[2017-11-16 00:45] TheBoegl commented on #63
This plugin utilizes launch4j, therefore, please report this issue to the launch4j developer at [sourceforge.net/p/launch4j/bugs/](https://sourceforge.net/p/launch4j/bugs/).

[2017-11-16 00:45] #63 closed

[2017-11-16 10:14] SergeVil commented on #63
In one of the bugs the author proposes to sign the executable to avoid false positive by antivirus. Is it any way to do it in gradle?

[2017-11-17 08:30] TheBoegl commented on #63
[Sign4j](https://sourceforge.net/p/launch4j/git/ci/master/tree/sign4j/) is not integrated in the maven artifact whereas I currently have no way to call it from this plugin, though you should try to sign your executable with it and test for AV false positives afterwards.

[2017-11-28 04:27] yangwuan55 opened #64 "How to bund the jre?"
Please give me a sample code for gradle.
Thanks a lot!!!

[2017-11-28 08:06] TheBoegl commented on #64
You can do it as simple as
[code]
Keep in mind that the created executable is 32-bit, therefore, keep in mind that `'%ProgramW6432%` exists, too.

[2017-11-28 09:40] yangwuan55 opened #65 "createExe failed"
[code]

My gradle:

[code]

[2017-11-28 10:44] #65 closed

[2017-11-28 10:45] yangwuan55 commented on #65
My icon was error... sorry

[2017-11-28 10:53] yangwuan55 commented on #64
I set this,but can not work....
If correct setting,do jre will included to the exe?

[2017-11-28 14:29] TheBoegl commented on #64
A bundled JRE will not get packed into the executable.

This plugin is more or less just a wrapper to access launch4j, therefore, take a thorough look at launch4j's [documentation](http://launch4j.sourceforge.net/docs.html).

[2017-12-02 21:58] Riggs333 opened #66 "Update XStream dependency to 1.4.10"
I'm not sure why the transitive XStream dependency coming from launch4j is explicitly excluded in `build.gradle`.

See also the launch4j bug regarding Java 9 compatibility where an XStream update is mentioned:
https://sourceforge.net/p/launch4j/bugs/172/

[2017-12-06 14:25] TheBoegl commented on #66
I have to test this, but the explicit exclude was added to enforce a newer xstream library as requested in #53.

[2017-12-20 10:28] Jiangmx opened #67 "Support the pdb file output?"
When we debug with the dump file, Application fault wrong symbols

[2017-12-29 11:33] TheBoegl commented on #67
Please report this issue directly to [launch4j](https://sourceforge.net/p/launch4j/bugs/).

[2018-01-02 04:44] phillip-urioste opened #68 "Is there a way to suppress the lib folder alongside the .exe?"
I'm using this plugin in conjunction with the shadowjar, and when I double-click the .exe after deleting the adjacent lib/ folder, my program runs just fine. It seems I don't need that folder.

[2018-01-04 17:40] TheBoegl commented on #68
Currently that outcome is expected. Just distribute your shadowed jar or the launch4j wrapped exe.

[2018-01-12 10:54] osca opened #69 "createExe task fails with icon file"
The task runs without an icon on OSX (10.13.2) and Debian Wheezy. But with an icon, it fails with following message:

:createExe FAILED

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':createExe'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Ge

[2018-01-12 11:53] pdirksen commented on #69
+1

[2018-01-12 11:57] juriritter commented on #69
+1

[2018-01-12 16:41] TheBoegl commented on #69
Is your icon file really located in an icons folder located next to your executable?
The [documentation](/TheBoegl/gradle-launch4j#how-to-configure) states to use `A relative path from the outfile or an absolute path to the icon file`.

[2018-01-12 18:03] TheBoegl commented on #64
Closing this due to no response or further questions.

[2018-01-12 18:03] #64 closed

[2018-01-12 18:56] TheBoegl commented on #67
This is a launch4j issue. If you don't mind I'm closing this.

[2018-01-12 18:56] #67 closed

[2018-01-12 19:26] #51 closed

[2018-01-12 19:26] #69 closed

[2018-01-16 07:04] yangwuan55 commented on #64
I'm so sorry...
I had find the way.

[2018-01-21 07:12] denis-itskovich opened #70 "Is it possible to perform cross-compilation with gradle-launch4j"
I wonder whether it's possible to produce windows executable, when building on linux-based build server? To my understanding, the default behavior is to produce executable for the same OS type as the build system host OS

[2018-01-21 07:33] #70 closed

[2018-01-21 07:34] denis-itskovich commented on #70
Sorry for bothering - it was my misunderstanding

[2018-04-23 08:48] SergeVil opened #71 "add directory to the classpath"
I need to add the directory lib/config to the classpath, as my simplelogger.properties file with settings is located there. Please, let me know what parameters I should add to launch4j configuration at my build.gradle. It would be great to see some example.

[2018-04-23 17:39] re3lex opened #72 "jreMinVersion is ignored"
I'm using jdk 1.10.0 in my IDE
looks like launch4j has an issue with supporting jdk more than 1.8.x

I'm trying to cheat launch4j by providing lower minVersion than I have.
My config:

[code]

but createExe task is always failing with error: Invalid data: Minimum JRE version should be x.x.x[_xx]
because generated xml file contains minVersion=1.10.0:
[code]

Looks like plugin is ignoring provided _

[2018-04-23 18:47] SergeVil commented on #71
I tried solution proposed in https://github.com/TheBoegl/gradle-launch4j/pull/61, it worked for me.

[2018-04-25 22:43] TheBoegl commented on #72
I'll look into this soon, though I'm not sure [if launch4j works](https://sourceforge.net/p/launch4j/feature-requests/107/) with Java 10.

[2018-05-04 15:10] TheBoegl commented on #72
I can not reproduce this exact issue, though I opened [an upstream launch4j issue](https://sourceforge.net/p/launch4j/bugs/183/) because the minVersion and maxVersion should work with JRE9+.

If applicable you should only set the jreMinVersion and count on launch4j not working with jre 10 anyway.

[2018-05-04 16:05] #71 closed

[2018-05-31 11:29] #72 closed

[2018-05-31 11:34] TheBoegl commented on #72
@re3lex the latest release _2.4.4_ should allow the JRE 9 and JRE 10 min or max versions, though your `<maxVersion>1.10.0_999</maxVersion>` will not be a valid version string. Use `<maxVersion>1.10.999</maxVersion>` instead.

[2018-05-31 11:42] re3lex commented on #72
@TheBoegl cool! thanks a lot!

[2018-06-09 20:42] willow512 opened #73 "Running resulting app as a console command"
Hey I'm trying to use launch4j via gradle-launch4j as a way to create a console command. It's similar to git in it's interface, though not in it's function.

This is the config I'm using:
launch4j {
  mainClassName = 'willow.Dizzer'
  outfile = 'diz.exe'
  headerType 'console'
}

However, the program always reports the current running directory to be the folder where I installed the program. So if

[2018-06-09 22:07] willow512 commented on #73
As is traditional for a 2 day problem solving binge you find the answer an hour after asking for help. ;)

I'm using mingw64 as a commandline prompt which behaves differently from windows cmd.
Windows cmd doesn't have the problem.
Using mingw64 you can get around it by reading System.getenv("pwd") and using that as your path

Thanks for your time anyway

[2018-06-09 22:07] #73 closed

[2018-09-03 12:31] richardTingle opened #75 "Understanding the bundled JRE behaviour"
This is my current understanding of the bundledJrePath option. Is it correct?

- bundledJrePath is the relative path from the exe to the JRE, not where the JRE to be bundled currently is (i.e. not where launch4j should get it from to put where ever it wants)
- Where the bundled jre is not found it will just use the system JRE, not emit an error.
- Launch4j will not actually bundle the JRE, it is j

[2018-09-04 10:26] TheBoegl commented on #75
The jre should be on the specified location on the end user's system.
Usually you'd place it there on the provision/installation step.

[2018-09-04 18:27] richardTingle commented on #75
Ok, am I correct when i say "Where the bundled jre is not found it will just use the system JRE, not emit an error."

[2018-09-05 09:30] TheBoegl commented on #75
Yes

[2018-09-06 16:15] mosgamal opened #76 "Use as local plugin"
I'm trying to build the plugin as jar file and embed it a project behind proxy which cannot access HTTPS.

I've compiled the whole thing and generated POM and JARs then used the following :
[code]
Gradle could recognize the plugin but I get building error :

[code]

Any idea why it's not building all dependencies in the generated JARs?

[2018-09-06 17:09] mosgamal commented on #76
Replacing the repo url to http instead of building it locally solved this issue for now

[code]

[2018-09-07 21:14] TheBoegl commented on #76
it seems you didn't have the launch4j dependency in your local file repository. Afterwards it should compile
 and run just fine

[2018-09-07 21:16] TheBoegl commented on #75
@richardTingle please close this if your questions are satisfactorily answered.

[2018-09-09 15:11] #75 closed

[2018-09-09 15:17] richardTingle commented on #75
This may be beyond what the plugin would do and may be more about launch4j but my initial assumption was that the plugin/launch4j would bundle the jre whereever it wanted it (if told were it was in the source, I initially thought that was what  bundledJrePath was, a parameter for where the jre to be bundled was). If that can't be the case it may make sense to make it clear the docs that that isn't

[2018-11-05 20:14] mitchyboy9 opened #77 "dontWrapJar in config can't be overridden with false in a task"
In the case where you might want to set `dontWrapJar` to `true` for most of your launch4j Gradle tasks but have one or more tasks that set their own version of `dontWrapJar` to `false`, this overridden value will not be honoured and the value of `dontWrapJar` will incorrectly be set to `true`.

E.g.
[code]

It looks like the problem is in `DefaultLaunch4jTask.groovy`:
[code]

If `false` is specifi

[2019-01-08 12:25] Shiva7071007 opened #78 "Gives NoClassDefFoundError if dependencies is mentioned using implementation in gradle file"
I have JAVA project myAPP and it depends on another project which is of library JAVA type myLibrary.
When I mention the dependencies using new method in myAPP build.gradle using
"implementation project(':myLibrary')",
the executable gives error NoClassDefFoundError :package.path.myLibrary.LibraryClass.

However, if i mention the dependencies using the old method:
"compile project(':myLibrary')"
th

[2019-01-10 12:54] evelak opened #79 "Please add support for setting 'chdir' property with an empty value:"
After building exe directly with launch4j I can see from the --l4j-debug-all logs that the current working directory is not being overridden (Resurece 8 is <NULL>):

....
Resource 8:	<NULL>
....

After building exe with launch4j gradle plugin and having in the build.gradle:
createExe {
    ..
    chdir = ''
	..
}

I can see from the --l4j-debug-all logs that the current working directory is being

[2019-01-22 23:35] #77 closed

[2019-02-14 12:31] Shiva7071007 commented on #78
One thing that I also noticed that when I run "generate exe" task after doing simple build, it still fails while executing generated executable but if I do build needed first, it works.

[2019-03-01 08:51] evelak commented on #79
Issue is still blocking development. Any news?

[2019-03-01 14:51] TheBoegl commented on #79
If I find time this will get fixed first though PRs are welcomed anytime.

[2019-03-05 20:20] wagnerma opened #80 "Plugin adds jcenter repository definition to project using the plugin"
In strict environments it is a problem, that the plugin adds the jcenter repository to project using this plugin.

10:30:19.760 [DEBUG] [org.gradle.api.Project] Adding the jcenter repository to retrieve the launch4j files.

The repository should only be added to the plugin resolution not to the project using this plugin.

[2019-03-06 07:57] TheBoegl commented on #80
I haven't found another way to retrieve the launch4j library if no repository is available as far as I know there was no option to add a repository for just this dependency resolution. If there is please let me know.

How would you like to provide the launch4j dependencies in your environment?
The easiest solution would be for you to declare a file repository that contains launch4j and it's depend

[2019-03-13 14:34] evelak commented on #79
#81 Changed chdir truthfulness check to null check, since empty string in Groovy seems to be falsy, thus chdir falls to default value.
Can you please review my pull request and on approval publish new plugin version?

[2019-03-13 20:58] #79 closed

[2019-03-13 21:31] TheBoegl commented on #79
Thanks for your PR!
It is merged and published as version _2.4.5_.

[2019-03-13 21:48] TheBoegl commented on #78
I don't really get what you are doing or wanting this plugin to do.
Could you please provide a small example that fails, thus I can clearly see the failing result.

[2019-03-14 04:26] floating-cat commented on #78
I have a same problem, you can download a small example here:

[2019-03-14 10:02] evelak commented on #79
Works perfectly. Thank you!

[2019-03-23 23:31] solarisx commented on #44
I tried to setup a script to build a javafx 12 windows native program without luck. Means including javafx jmods and the jre. Any samples out there?

[2019-03-31 23:04] toyg opened #82 ""Security framework of XStream not initialized, XStream is probably vulnerable.""
I keep getting a warning related to XStream in my builds - why is it there and how do I turn it off? I don't use XStream at all myself...
[code]

[2019-04-05 13:00] nikolauskrismer opened #83 "Can not unset jreMinVersion (to ignore system installed JRE/JDKs)"
According to the documentation of launch4j, there are three possibilities to use the path/jreMinVersion/jreMaxVersion properties:

From http://launch4j.sourceforge.net/docs.html:
* `<path>`
Run if bundled JRE and javaw.exe are present, otherwise stop with error.
* `<path> + <minVersion>  [+ <maxVersion>]`
Use bundled JRE first, if it cannot be located search for Java, if that fails display error m

[2019-04-23 13:08] jcornaz opened #84 "How to use from Kotlin DSL?"
Hello,

Could you, please document usage from Kotlin DSL?

[2019-04-26 23:44] IdiosApps commented on #44
@solarisx I've got this with a project here (minus JavaFX jmods though):
https://github.com/IdiosApps/gradedReaderBuilder/commit/6a212a68760b0ba6f418e68e80a32776e9e84655

Feel free to reference this @aaiezza @TheBoegl

[2019-04-28 20:26] tomihawk commented on #78
I'd like to add my voice to this and see the plugin updated to include the new "implementation" keyword for runtime dependencies.  Both "compile" and "runtime" have been deprecated in Gradle 5.  See https://docs.gradle.org/current/userguide/java_library_plugin.html

Gradle init and the majority of the gradle documentation has been updated to use "implementation" without mentioning "compile" anywhe

[2019-04-29 18:47] TheBoegl commented on #84
I had no time to test this but as a starting point:
[code]

[2019-05-05 07:25] jcornaz commented on #84
Thanks. Can you add it to the documentation?

[2019-05-05 15:25] IdiosApps commented on #44
If I understand correctly, you can't actually bundle the JRE (in the .exe) - the following commands just point to a JRE and affect how it's used:
- bundledJrePath = 'C:\\Program Files\\Java\\jdk-12.0.1'
- bundledJre64Bit = true
more info at #64 - https://github.com/TheBoegl/gradle-launch4j/issues/64#issuecomment-347540288

I'm going to go for this option myself - keeps the download lightweight, an

[2019-05-05 15:34] TheBoegl commented on #83
@nikolauskrismer this should be fixed in _2.4.6_

[2019-05-05 16:16] nikolauskrismer commented on #83
confirmed... just tested it with the new version.
When completely leaving out the jreMinVersion property, then solely a bundled jre is used...

[2019-05-05 16:16] #83 closed

[2019-07-03 11:59] mdumont-arcom opened #85 "OpenJDK 11 runtime"
Hi,
I'm having a problem with the launch4j plugin.
When I run the executable using openJDK 11, an error message appears: "This application requires a Java Runtime Environment 11.0.0".
My JAVA_HOME variable: "C: \ development \ JDK \ jdk-11"
I can't find any solution.
How to correct the problem?

thank you

[2019-07-03 18:57] TheBoegl commented on #85
This is related to [launch4j issue 197](https://sourceforge.net/p/launch4j/bugs/197/).

Take a look at the given [work-around in this comment](https://sourceforge.net/p/launch4j/bugs/197/#d574)

[2019-07-22 14:59] theexiile1305 opened #86 "Packing bundled JRE into extecutable"
**I've got the following problem:** The clients of my application don't have the rights to install or simply do not have any JRE installed on their computers.
A nice feature would be to let the executable have a bundled JRE inside. The distribution of java application is then less complex because the clients don't have to install a JRE.
This issue is related to #64 and launch4j is still able to bu

[2019-07-22 17:40] TheBoegl commented on #86
I'm not aware, that such a feature exists in launch4j.
Please provide the link to it's documentation.

If your users aren't allowed to install in user-only mode, you could provide a archive containing your created executable and jre.

[2019-07-23 07:36] theexiile1305 commented on #86
Thank you for your fast response 😄
You can include any JRE inside the executable. See  http://launch4j.sourceforge.net/docs.html and in the example configuration file there are the following lines:

[code]

Right, my users don't have admin rights and they want one executable without any dependencies on the disk, like a single executable on the desktop.

[2019-07-23 10:49] TheBoegl commented on #86
This already works as described. Just use the property `bundleJrePath` though you will still need to provide your users with a non administrative installation (e.g in [innosetup](http://www.jrsoftware.org/ishelp/index.php?topic=admininstallmode)).
With that you could create a desktop or start menu entry pointing to your install location.

[2019-07-25 15:11] #84 closed

[2019-07-29 07:52] theexiile1305 commented on #86
I have only the following configuration on a mac and it doesn't work:
[code]
What's the failure?

[2019-07-29 13:51] TheBoegl commented on #86
Please provide an example of your gradle configuration and state what you think should happen compared to what happens.

[2019-07-29 17:14] theexiile1305 commented on #86
The following example as the configuration is given and I execute the Gradle task `createExe` on my mac:
[code]

**What should happen:**
I want to create a standalone executable with a JRE inside the executable. Therefore the user doesn't have to install the JRE by himself.
**What happens:**
The executable was successfully created but on startup, the following failure message appears:

[2019-07-29 18:59] TheBoegl commented on #86
You expect the executable to work in another way as stated in the section jre of [launch4j's documentiation](http://launch4j.sourceforge.net/docs.html)
[code]
As stated [above](/TheBoegl/gradle-launch4j/issues/86#issuecomment-514158551): You have to provide the jre to your users as there is no other way. (either you use the suggested innosetup settings or install4j or a simple zip file as suggeste

[2019-07-30 09:42] theexiile1305 commented on #86
That's not correct.
If I use the following launch4j configuration the JRE is bundled into the executable and on a blank new machine, nobody has to install any JRE or JDK by themselves.
[code]

[2019-07-30 20:59] david-hall commented on #86
A working example of using Launch4J to bundle a Java application with a
specific JRE can be found at
https://github.com/vZome/vzome/blob/master/desktop/platform/windows/README.md.
This particular distribution is configured to require vZome
<http://vzome.com/> to use the bundled JRE rather than any JRE found on the
target platform.

I have also posted this answer on the previously referenced stacko

[2019-07-30 22:09] TheBoegl commented on #86
@theexiile1305 please run both build of your app with --l4j-debug option which creates a launch4j log and attach it here.

[2019-08-14 14:57] cloudsftp commented on #65
I have the same problem. What was wrong with your icon?

[2019-08-14 15:04] TheBoegl commented on #65
The path to his icon was wrong or the icon file invalid, usually you should just provide the path to it, e.g. `"${projectDir}\pathTo\icon.ico`.

[2019-08-14 15:17] cloudsftp commented on #65
The path is right, because otherwise the error would be
[code]

I am wondering, what could make an ICO invalid, since I am new to the subject.

[2019-09-14 23:33] jpschewe opened #87 "Not finding bundled JDK"
I've been using gradle-launch4j to create executables that rely on Java already being installed. Now I'm working to create an executable that depends on a bundled JDK.

I've downloaded the OpenJDK 12.0.2 zip file for Windows and uncompressed it next to the executable.

I've added the following lines to my gradle configuration.
[code]

When I run with "--l4j-debug-all" I get an error that the JDK c

[2019-09-16 19:12] TheBoegl commented on #87
Please take a look at [this launch4j feature request](https://sourceforge.net/p/launch4j/feature-requests/127) as this is an issue with launch4j itself not this wrapper...

[2019-09-16 19:14] TheBoegl commented on #65
@cloudsftp if you haven't fixed your issue yet and you think that it is caused by this plugin feel free to open a new issue.

[2019-09-16 20:19] cloudsftp commented on #65
I think, I fixed it by excluding the original dimension picture from the ico file.

[2019-09-17 11:43] jpschewe commented on #87
No, I don't think that's the issue. I don't need to recognize the JAVA_HOME environment variable. I just want to bundle a JDK next my executable and have the executable use it. Even removing bundledJreAsFallback doesn't help.

[2019-09-18 01:08] jpschewe commented on #87
I'm not sure what I changed, but now it's working.

[2019-09-18 01:08] #87 closed

[2019-09-18 14:37] jpschewe opened #88 "min version not set as expected"
The documentation for jreMinVersion says "project.targetCompatibility or the current java version, if the property is not set"

I've set sourceCompatibility and targetCompatibility is documented to default to sourceCompatibility if not set.

When I run my build with "-Pl4j-debug" so that I can examine the created XML file I find that minVersion is not set.

Setting targetCompatibility doesn't appe

[2019-10-12 14:04] #86 closed

[2019-10-23 15:50] TheBoegl commented on #88
Sorry for that late response, I somehow missed this issue.

[2019-11-28 01:48] bitbythecron commented on #82
FWIW I had the same issue and specifying **both** min and max JRE version solved it for some reason 🤷‍♂️

[2019-12-03 15:16] bitbythecron opened #89 "Potential bug with latest plugin and Windows 10 64-bit"
* I have [this StackOverflow question](https://stackoverflow.com/questions/59073220/gradle-launch4j-build-produces-jre-less-exe-that-windows-doesnt-trust)
* And I have [this GitHub repo](https://github.com/bitbythecron/hello-windows) that perfectly reproduces the issue

TLDR; I need to bundle an OpenJDK JRE8 runtime with my Swing app and I have tried dozens of combos of Launch4J configs through th

[2019-12-07 19:40] #89 closed

[2019-12-26 14:13] ravermeister opened #90 "build fails on arm aarch64 with current Version 2.4.6 with 'Exec failed (2): bin-launch4j-3.12/bin/windres'"
Hi,

When I try to compile my project on the following machine with Gradle 6:
[code]
I get following error:
[code]
Stacktrace:
[code]

When I Execute 'windres' directli via cmd I see this error:
[code]
Which makes sense as the binary is as 32 bit elf file:
[code]

I Integrate the Pluigin in the `build.gradle` as follows:
[code]

What can I do to build my project on this machine?
by the way, the pr

[2019-12-26 18:23] TheBoegl commented on #90
This seems to be a launch4j library issue.
If I remember correctly an arm 64 library is not provided.
Please open a feature request there or even better supply the necessary binaries as a pull request.

[2019-12-26 18:49] ravermeister commented on #90
Hi,
Thanks for clarification. I opened a Feature Request here: **https://sourceforge.net/p/launch4j/feature-requests/132/**

If someone tells me which and how to compile the neccessary binaries by myself I'm willing to contribute them :)

[2019-12-30 15:49] bitbythecron opened #91 "Configuration to change name of the generated EXE file?"
This plugin seems to name the generated EXE according to the root project name by default (`${rootProject.name}.exe`).

In my Gradle build I specify a runtime command switch (e.g. `-Dspecifier=XYZ`) which then becomes available to `build.gradle` as a system property (e.g. `${System.properties.getProperty('specifier')}`).

I would like to configure this plugin to produce an EXE of the form:

[code]

[2020-01-04 01:23] henriIV opened #92 "launch4j and bouncycastle - This is a question not an issue"
It seems that making an .exe file is quite a challenge when using boucycastle jar files.
Does anyone have an idea how to do it ?

This is the best reference I have seen so far but I don't know if it works
https://stackoverflow.com/questions/39997888/maven-launch4j-plugin-how-to-configure-to-exclude-jars-used-by-the-exe

[2020-01-13 22:08] TheBoegl commented on #92
Since I unfortunately have little time, please show us what you already got.

[2020-02-17 09:30] ahadas opened #93 "Inconsistent pick of jar task"
Hi,

Thanks for maintaining this great plugin!
I'll appreciate your help with an issue I'm facing in the [mucommander](github.com/mucommander/mucommander) project:
Recently, we've introduced the ability to produce two executables by using `Launch4jLibraryTask` as described in the readme page.
However, when invoking one of them, `nsisUnBundled`, the shadowJar is picked (as desired):
[code]
When inv

[2020-02-23 10:40] #93 closed

[2020-04-20 19:44] Jazzepi commented on #85
Just to be clear Launch4j doesn't use JAVA_HOME to locate the JRE.

[2020-04-23 08:13] TheBoegl commented on #85
Last time I checked that was true.

[2020-06-13 13:35] IARI commented on #91
Have a look at [README.md#how-to-configure](https://github.com/TheBoegl/gradle-launch4j/blob/develop/README.md#how-to-configure)

String outfile | project.name+'.exe'
-- | --

So I if I understand it correctly, the config that achieves what you want should look like this:
(Note that I am using kotlin in gradle build scripts)

[code]

[2020-07-10 15:20] micheljung commented on #68
Too bad; this causes unnecessary file system operations and increases build size.

At least, I'm cleaning it up like this:
[code]

[2020-09-07 16:06] #91 closed

[2020-09-07 16:08] #92 closed

[2020-09-07 16:09] #80 closed

[2020-10-18 13:28] cbeust opened #100 "config.xml not generated by ./gradlew -Pl4j-debug createExe"
Launching `./gradlew -Pl4j-debug createExe` does not generate a `config.xml`.

Any other flag I can use to investigate what's going on?

[2020-10-18 13:41] cbeust commented on #100
Added a few additional checks. In my `build.gradle.kts`:

[code]

and then:

[code]

So the property is set but no `config.xml` file gets generated.

[2020-10-18 14:06] TheBoegl commented on #100
On which plugin and Gradle version are you?

[2020-10-18 14:08] cbeust commented on #100
Your latest 2.4.8 and Gradle 6.5.1.

On Sun, Oct 18, 2020, 7:07 AM Sebastian Bögl <notifications@github.com>
wrote:

[2020-11-02 14:12] andretietz opened #101 "Newest version not on jcenter nor on mavenCentral"
Hey, I just wanted to use the plugin and figured out that the last available version is 2.4.6 on jcenter.
According to the [releases page on github](https://github.com/TheBoegl/gradle-launch4j/releases) it should be 2.4.8
One of those should be reachable:
mavenCentral:
https://repo.maven.apache.org/maven2/edu/sc/seis/gradle/launch4j/2.4.8/launch4j-2.4.8.pom
jcenter:
https://jcenter.bintray.com/edu

[2021-02-28 19:41] TheBoegl opened #103 "Launch4j 3.13"
Use latest launch4j release 3.13 when it is available on maven.

[2021-03-18 08:08] jpstotz commented on #103
Finally launch4j 3.14 is available in Maven Central repo. This should make integration easier (3.13 was never released on central).

[2021-03-27 08:31] #103 closed

[2021-03-27 08:34] TheBoegl opened #106 "Verify min and max JRE versions with java 11"
Before releasing 2.5, we'll have to verify that the min and max jre versions work as expected for running the created exe with java 9 and later.

[2021-03-27 08:36] TheBoegl opened #107 "Remove deprecations"
Remove all deprecations for the next version

[2021-03-28 10:39] jpstotz commented on #101
For version 2.5.0 is now the same situation. Therefore the example configuration presented in the project readme e.g. for gradle using `id 'edu.sc.seis.launch4j' version '2.5.0'` does not work.

According to [Mavenrepository.com](https://mvnrepository.com/artifact/edu.sc.seis.launch4j/launch4j) the latest version in the "Gradle Plugins" repos is 2.4.9.

Or does releasing a plugin in the Gradle Plu

[2021-03-28 12:18] TheBoegl commented on #101
Snapshot releases currently don't work and I didn't find a way to fix it, when this issue was created. Version 2.5 will be released to gradle plugins when #106 is resolved and merged to main. Keep in mind the branching model (develop vs main)

[2021-03-28 13:04] jpstotz commented on #101
@TheBoegl The it is a mistake that the default branch for the Git project is set to the `develop` branch?

Because of this the Readme.md shown when you open https://github.com/TheBoegl/gradle-launch4j can be read as if v2.5.0 had already been released.

[2021-04-08 15:04] Soamid opened #108 "NoClassDefFound after updating to OpenJDK16?"
Hello,

I've been using launch4j in my gradle projects for a bunch of years. Last year we migrated from JDK8 to OpenJDK14 (without any lanuch4j related problems) and recently we wanted to bump JDK to 16. However, when I run `gradlew clean build createExe` on OpenJDK 16 I receive the following error:
[code]
I had to update Gradle to 7.0-RC2 version, but it seems to work when I run Gradle7 + JDK14,

[2021-04-10 07:12] TheBoegl commented on #108
Is this the only exception you got running your build with jdk 16?

[2021-04-10 18:00] Soamid commented on #108
Yes, it is the only exception when I run the build with `--stacktrace` option.

However, I looked deeper into the launch4j code and I have a clue - it might be nothing, but it's worth noting: `ConfigPersister` uses XStream library. In 2.4.9 version of the plugin, XStream version is 1.4.11.1. In my another project I'm also using XStream and during migration JDK14 -> 16 it started throwing `Inaccess

[2021-04-13 16:05] jpstotz commented on #106
@TheBoegl Can you please elaborate a bit more what do you expect for performing this task?

From my perspective gradle-launch4j works as expected if the configuration file it generates contains the correct entries for specifying min and max jre version. Everything else is up to launch4j, which means if it does not work it is a bug of launch4j.

[2021-04-15 22:14] #106 closed

[2021-04-15 22:16] TheBoegl commented on #82
This issue should be fixed with the launch4j 2.14 used in version 2.5.0 of this plugin

[2021-04-15 22:16] #82 closed

[2021-04-15 22:19] TheBoegl commented on #100
@cbeust could you please verify if either the current version 2.5.0 fixed this issue or that the log output helps?

[2021-04-15 22:25] TheBoegl commented on #101
@jpstotz I've added a badge for the current published version on the gradle plugins portal to help clarify which version can be simply used without checking the default branch.
AFAIK there is no option in GitHub to set a default view branch and a different default merge branch.

[2021-04-16 08:08] #78 closed

[2021-04-16 08:12] TheBoegl commented on #85
Closing this as the current plugin version provides at least launch4j 3.14, which works with java versions 9+.

[2021-04-16 08:12] #85 closed

[2021-04-16 08:25] TheBoegl commented on #68
Closing this again as 81d2570889 should have fixed this.

[2021-04-16 08:25] #68 closed

[2021-04-16 18:12] Soamid commented on #108
Update: upgrading launch4j to the (just released) version 2.5.0 apparently resolved the problem. :)

[2021-04-17 18:50] #108 closed

[2021-04-20 11:07] maikelsteneker opened #109 "Property jar is ignored in v2.5.0"
See my example repository at https://github.com/maikelsteneker/gradle-launch4j-mwe.

This is an issue I discovered when upgrading from v2.4.9 to v2.5.0.

I'm creating a jar file without an extension (unusual, I know).

I'm using the following to set the jar that is to be used for launch4j:
[code]

Using `./gradlew createExe -Pl4j-debug`, I inspect the XML that's generated. For v2.4.9, the jar prop

[2021-05-04 23:34] nightm4re94 commented on #107
Does this include the [deprecation of the JCenter repository](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/)? Do you have any plans on retrieving dependencies from Maven Central instead?

[2021-05-05 10:22] maikelsteneker opened #110 "Launch4j wrapper is rebuilt every time jar changes even with dontWrapJar enabled"
I'm using the following combination of properties for my launch4j task:
[code]

The task `executable` is a custom task that produces a jar file.

Note that the `dontWrapJar` option implies that if the JAR changes, there's no need for the launch4j wrapper to change. However, when running `gradle executable createExe`, the `createExe` (launch4j) task rebuilds every time the jar has changed:
[code]

[2021-05-13 07:35] TheBoegl commented on #107
Sounds like a good idea!

[2021-06-15 18:31] naftalmm commented on #110
Actually, if the path to JAR file changes (this includes filename change), exe needs to be changed as well. But, even if we would track the change of JAR output path and content separately, it won't help to avoid task rebuild, because exe creation is not the only thing `createExe` task does. If `dontWrapJar=true` it also by default copies JAR (and all other runtimeClasspath dependencies) into `lib

[2021-06-16 20:10] #107 closed

[2021-06-16 20:41] TheBoegl commented on #110
As @naftalmm put it very well. I don't think such special cases are worth the hassle.

[2021-06-16 20:47] TheBoegl commented on #100
Closing this as I'm unable to reproduce.

[2021-06-16 20:47] #100 closed

[2021-06-19 17:31] TheBoegl commented on #109
This should be fixed on the next release with @naftalmm commit in e9924880

[2021-07-27 13:59] Ceikry opened #114 "Change launch4j version to 3.5"
The latest versions of launch4j have an issue where .exe files produced by it have headers that get the file flagged as a virus by many popular antiviruses.

See: https://stackoverflow.com/questions/34592100/launch4j-compiled-java-application-executable-being-blocked-by-antivirus

And: https://sourceforge.net/p/launch4j/discussion/332683/thread/d5baedac/#6abf

[2021-07-27 21:34] TheBoegl commented on #114
Launch4j 3.5 is quite dated, as are the threads you've linked. Is this really an issue with 3.14?
To further investigate this please provide an example project that does not work as expected.

[2021-09-20 21:24] TheBoegl commented on #109
fixed in #111

[2021-09-20 21:24] #109 closed

[2021-10-06 20:28] mbachinger opened #116 "Invalid data: Minimum JRE version should be x.x.x[_xx]"
I am attempting to use this plugin with my Java application using Java 11. I keep getting the error:
**net.sf.launch4j.BuilderException: Invalid data: Minimum JRE version should be x.x.x[_xx]**
Does this plugin not work with Java 11?

[2021-10-21 07:48] alesproch opened #117 "Entry <xxx> is a duplicate but no duplicate handling strategy has been set"
It's not possible to set duplicatesStrategy for copying of dependencies into lib folder for createExe/launch4j task.
Using gradle 7.x

[2021-11-03 21:38] TheBoegl commented on #117
could you please provide a simple working example that you expected to work

[2021-11-03 22:37] TheBoegl commented on #116
@mbachinger take a look at the [documentation](http://launch4j.sourceforge.net/docs.html) mentioning

[2021-11-04 13:28] mbachinger commented on #116
@TheBoegl
Thanks for the reply. I am not specifying the underscore or the portion after though. I have tried:

- 11
- 11.0
- 11.0.5

I also tried setting the targetCompatibility since this overrides it.

Versions 9 and under work but 10 and 11 don't.

This is the createExe.xml being created before running into that error:

`<?xml version='1.0' encoding='UTF-8'?>
<launch4jConfig>
  <dontWrapJar>fal

[2021-11-17 21:46] TheBoegl commented on #116
@mbachinger I've edited your answer to display your xml output as code block.
I'm unable to reproduce your error. Please provide a minimal reproducible example. Creating the executable with your provided xml works for me.

[2021-12-07 19:02] mbachinger commented on #116
@TheBoegl Changing the Launch4j version to 2.4.4 fixed the problem.

[2021-12-07 21:39] TheBoegl commented on #116
@mbachinger Are you referring to this plugin in version [2.4.4](/TheBoegl/gradle-launch4j/releases/tag/v2.4.4) from 2018? To really help you please attach a failing project configuration or a link to a repository. I'm still unable to reproduce this issue.

[2021-12-07 21:40] TheBoegl commented on #114
I'm closing this as no further feedback has been provided.

[2021-12-07 21:40] #114 closed

[2022-04-04 09:12] TheBoegl opened #118 "AbstractMethodError using version 2.5.2 with gradle 6"
Running the latest version of the plugin with gradle 6.x we get the following error:
[code]

This is related to gradle/gradle#18570 and is caused by the groovy update from version 2 to 3 with gradle 7.0.
We can either build a gradle 6 compatible release or document it.

[2022-10-18 21:21] Shadow-Devil commented on #117
Hi, today I faced the same issue.
My minimal build.gradle looks like this:
[code]
Both dependencies include a common dependency jaxb-core-3.0.2.jar.

The Error that is being displayed is:
[code]
But when I try to add a duplication handling strategy it doesn't work:
[code]
This works inside the jar task.

[2022-10-18 21:24] Shadow-Devil commented on #117
If you could help me with some guidance where the error could be solved, I would like to work on this issue 😄

[2022-10-19 05:08] TheBoegl commented on #117
This seems to be related to the used copy tasks. You should be able to create a PR adding the strategy there and testing it with the reproducible code snippet you provided.

[2022-10-19 11:43] Shadow-Devil commented on #117
Is it currently possible to let a test run with a different Gradle version than specified at the root project?

[2022-10-19 12:17] Shadow-Devil commented on #117
I thought, that maybe something like this would work:
[code]
But now I'm getting the error message:
[code]
I was looking through the code and found [the copyConfigurable](https://github.com/TheBoegl/gradle-launch4j/blob/d06f305368058c97d5b490fc80855f40b7a6d88e/src/main/groovy/edu/sc/seis/launch4j/CopyLibraries.groovy#L45), that to my understanding should also be settable to a CopySpec.

[2022-10-19 20:39] TheBoegl commented on #117
There are already some tests in this repo that run against different gradle versions.

I don't have access to my IDE now but you might be able to set the strategy on the `distSpec` variable.

[2022-10-22 23:59] Shadow-Devil commented on #117
I've created a draft PR (#122) that fixes the issue. It just hardcodes it to exclude any duplicate entries. Maybe we should introduce a new property so the user can specify what DuplicationStrategy should be used.

[2022-11-02 08:12] Shadow-Devil commented on #117
I think this issue can be closed, since the PR was already merged

[2022-11-02 08:42] #117 closed